[2021-06-21 14:58] DRoet opened #1 "Usage with optional chart types"
Hi, first of all thanks for this handy wrapper. Very neat that it also works with Vue 2.

Would it be possible to add support for wrapping optional chart types outside of chartjs core, for example the [matrix](https://github.com/kurkle/chartjs-chart-matrix) type for heatmaps?

[2021-06-21 15:13] victorgarciaesgi commented on #1
Hi @DRoet !

Never used chartjs plugins but I will look at it! Do you mean type wise (ts types) or runtime wise?
Can you give me more info on how you would use it with vue-chart-3? :)

[2021-06-21 15:38] victorgarciaesgi commented on #1
Yeah I think exporting defineChartComponent is best for both types on runtime!

[2021-06-21 15:40] victorgarciaesgi commented on #1
For types I base my arguments on Chart.js `ChartTypeRegistry`, I think adding shims for declaring it is mandatory

[2021-06-21 15:46] victorgarciaesgi commented on #1
@DRoet Looks like you're lucky and your plugin already provides it's own types augmentations :D
https://github.com/kurkle/chartjs-chart-matrix/blob/21562afa31f823fe6e48199f3d9054674a58a6aa/types/index.esm.d.ts#L27

[2021-06-21 15:50] victorgarciaesgi commented on #1
It's released on `0.1.5`, tell me if it fits you :)

[2021-06-21 16:50] DRoet commented on #1
Would you mind also exposing it as an named export?

right now this doesn't work:
[code]

however using a quick test with
[code]
it seems to render the matrix correctly! 🚀

[2021-06-21 16:52] victorgarciaesgi commented on #1
Hmm strange! Have you tried to reload vsCode? I will look at it tomorrow i'm not on my laptop now :(

[2021-06-21 16:55] DRoet commented on #1
no worries, seems like you only added it as an `export default`: https://github.com/victorgarciaesgi/vue-chart-3/blob/main/src/index.ts#L21

[2021-06-22 08:17] victorgarciaesgi commented on #1
@DRoet Should be fixed now!

[2021-06-22 09:14] DRoet commented on #1
@victorgarciaesgi awesome, would you mind publishing another release onto NPM?

[2021-06-22 12:34] DRoet commented on #1
thanks!

[2021-06-22 12:34] #1 closed

[2021-06-27 15:03] floriankapaun opened #3 "Line Chart Name built-in or reserved HTML element"
Hey. First of all, thanks for your great plugin. I'm using vue-chart-3 with nuxt.js which works great so far.

However, when I want to use the line chart I get the error message `[Vue warn]: Do not use built-in or reserved HTML elements as component id: Line`.

Implementation:
[code]

I think this could easily be fixed by renaming the Line Component.

[2021-06-28 08:59] Paulsky commented on #3
Hello @floriankapaun,

I think you can fix this by naming the import. Like this:

[code]

[2021-06-28 09:26] victorgarciaesgi commented on #3
Thanks for the report @floriankapaun , I will make a minor release with the `LineChart` name instead of `Line`

[2021-06-28 09:28] victorgarciaesgi commented on #3
Released in `0.2.0`!

[2021-06-28 10:50] #3 closed

[2021-06-29 08:45] TheCelebrimbor opened #4 "Accessing the chartInstance for any processing purposes"
How can I access the canvas or the `chartInstance` for any external purposes like saving it as png etc ? If I have the instance, I can call `.toBase64Image()` to get an image out of it.

Great work btw!.

[2021-06-29 09:20] victorgarciaesgi commented on #4
Hi @TheCelebrimbor and thanks !
It should be already possible using template refs.

[code]

Keep me updated :)

[2021-06-29 09:23] victorgarciaesgi commented on #4
I will add a section in the README for it!

[2021-06-29 10:09] TheCelebrimbor commented on #4
@victorgarciaesgi Thanks for the quick reply.! I was able to access the `canvasRef` but not the `chartInstance`. It is `null`.
I am accessing the ref after all rendering is done with a custom save button.

![image](https://user-images.githubusercontent.com/13927773/123779662-0609fa80-d8f0-11eb-894d-615d7d655bfc.png)

[2021-06-29 10:17] victorgarciaesgi commented on #4
Hum maybe it's because the chartInstance is not reactive. I will try something and keep you updated!

[2021-06-29 10:45] victorgarciaesgi commented on #4
@TheCelebrimbor Can you try `v0.2.3`?
Are you on vue 2, because somewhat making chartInstance reactive doesn't seem to work on Vue 3 :(

[2021-06-29 11:03] Paulsky opened #5 "How to use options"
Could you please provide an example where you explain to set the chart options? Like enabling tooltips and set scales?

Thank you in advance!

[2021-06-29 11:20] TheCelebrimbor commented on #4
@victorgarciaesgi I just updated to 0.2.3. It seems to break the whole thing. Now I get a new error whenever I interact with anything in the view containing the charts.

This even causes a stack overflow
![image](https://user-images.githubusercontent.com/13927773/123788856-2343c680-d8fa-11eb-9df6-5d6f7ad95b0b.png)

Full Error:
`runtime-core.esm-bundler.js:38 [Vue warn]: Unhandled error during exec

[2021-06-29 11:22] TheCelebrimbor commented on #4
For now, going back to 0.2.0 !!!

[2021-06-29 11:24] victorgarciaesgi commented on #4
Yeah I need to put my head on it I don't have much time for now, reverting to current behaviour

[2021-06-29 11:25] victorgarciaesgi commented on #4
It seems to not be as simple at wrapping it in `ref` in Vue3 :(

[2021-06-29 11:57] TheCelebrimbor commented on #4
It would be a much needed thing tho. Maybe you can expose an event on the component and `emit` the chart with an event every time it updates. I can bind to it with a `v-model` and then It would be good.

[2021-06-29 12:22] victorgarciaesgi commented on #4
Also another question, are you using Vue 3 with Vite.js or just via vue-cli and Webpack 5?

[2021-06-29 12:22] victorgarciaesgi commented on #5
@Paulsky No problem I will update the docs!

[2021-06-29 12:24] TheCelebrimbor commented on #4
Oh!, super easy to miss because it is not in the readme. Will check it out asap.

I use Vue 3 with webpack 5.

[2021-06-29 12:24] victorgarciaesgi commented on #5
If you are using Volar on VScode, you will get props autocompletion for options

[2021-06-29 12:34] victorgarciaesgi commented on #4
You're right sorry I will specify them in the docs! :)

[2021-06-29 12:35] Paulsky commented on #5
@victorgarciaesgi Thank you very much! Unfortunately, I'm not using VScode

[2021-06-29 12:40] victorgarciaesgi commented on #4
The bug seems to be coming from chartjs when chartInstance is reactive https://github.com/chartjs/Chart.js/issues/8970

[2021-06-29 12:44] TheCelebrimbor commented on #4
@victorgarciaesgi If you can give a small example of accessing those events in Vue 3 it would be great as well.

I am currently doing this
`<component @chart:render="newChartInstance($event)" ref="chartRef" :is="chartComponent" :data="internalData" />`

The event never fires. Hmmm......

[2021-06-29 12:55] TheCelebrimbor commented on #4
Never mind! Stoopid mistake :D. It works for now !! thank you so much

[2021-06-29 12:56] victorgarciaesgi commented on #4
You're sure? Because for me the `@chart:render` is not firing either aha

[2021-06-29 13:03] TheCelebrimbor commented on #4
I bound to `chart:update` like this

`<component @chart:update="chartInstance = $event"`

seems to work for me. :)

[2021-06-29 14:23] victorgarciaesgi commented on #5
It's done check it out! Is it enough?

[2021-06-29 14:40] victorgarciaesgi commented on #4
@TheCelebrimbor hmm what's the error for Pie ? :(

[2021-06-29 15:00] #5 closed

[2021-06-29 15:06] victorgarciaesgi commented on #4
Oh you mean changing the type of the Chart dynamicaly? Maybe add a `key` to your dynamic component.
You're welcome thanks for reporting the bugs! :)

[2021-06-29 15:11] #4 closed

[2021-06-29 23:31] Mootook opened #7 "ref.chartInstance always null"
Hello, thanks for this package. I started using it on my team lately, and it's great!

However, I'm wondering if I'm doing something wrong or if there's an issue with the properties.
I use a ref on my component instance and am trying to access the chartInstance so that I can retrigger an update when one of my props changes (none of the data, just a background color for a dynamically drawn gradient

[2021-06-29 23:47] victorgarciaesgi commented on #7
Hi @Mootook and thanks!
You're not doing anything wrong, accessing chartInstance has been implemented today thanks to this issue #4 but I forgot to update the docs.
But there is still bugs because making chartInstance reactive will throw an error in Vue 3 and not in Vue 2 :(
I will work on a solution making chartInstance reactive only for Vue 2.

The workaround for now is using the events `chart:r

[2021-06-30 00:16] victorgarciaesgi commented on #7
Docs updated!

[2021-06-30 01:02] Mootook commented on #7
@victorgarciaesgi Ah, that makes sense. Thanks!

Also, my use case does not involve changing the data. I'm allowing for dynamically setting the background color of a BarChart while keeping the data consistent.
This is perhaps not in the bounds of this issue, but my current implementation is something like

[code]
I assume there's a much better way.

[2021-06-30 16:28] TheCelebrimbor opened #8 "Recursive calls crashing application"
Hi @victorgarciaesgi , I followed a couple of your examples and wanted to do something like this.

[https://codesandbox.io/s/intelligent-meninsky-eeqnd?file=/src/components/HelloWorld.vue](https://codesandbox.io/s/intelligent-meninsky-eeqnd?file=/src/components/HelloWorld.vue)

It gives me this error

[code]

I suspect It has something to do with the options being reactive when passed to the compo

[2021-06-30 16:37] victorgarciaesgi commented on #8
Hi again @TheCelebrimbor, I'm not having the problem with Vue 2 so it seems again to be a Vue 3 problem :(, I will look at it. I can disable reactive options in the meantime

[2021-06-30 16:42] TheCelebrimbor commented on #8
I updated to vue 3.1.2. Now it does not throw error but warns about it in the console as in the sandbox.

[2021-06-30 16:51] victorgarciaesgi commented on #8
If think it's because in your code you have a circular dependency here

[code]
`component` is depending on `options`, and `component` is changing `options` back. So it's what makes the call stack.
Also it is not advised to modify refs inside `computed`, use `watch` instead!

[2021-06-30 17:17] TheCelebrimbor commented on #8
@victorgarciaesgi  Never mind! :) :). Seems to be a ref issue.

I asked about this on discord.
It seems we need to us `computed` if we want to mutate any `refs` and not `watch`

here is a link to the fixed sandbox. Notice how the value of options is not a `ref` but `computed`
https://codesandbox.io/s/keen-rhodes-mi84j?file=/src/components/HelloWorld.vue

[2021-06-30 17:25] TheCelebrimbor commented on #8
@victorgarciaesgi Exact words

"There are times where mutating reactive state in watchers is appropriate, like here.
Rule of thumb is that it shouldn't be used to derive state from other state, that's what we've got computeds for."

[2021-06-30 17:26] #8 closed

[2021-07-01 10:45] victorgarciaesgi commented on #7
Okay! Does the workaround is okay for you ? (with the events)

[2021-07-05 19:49] DRoet opened #9 "bug(v0.4.x): adding certain chart options crashes the process"
Using a simple chart inside Vue 2, the newer version crashes my process once I add `options.scales` to my chart. Other properties such as `options.onClick()` and `options.plugins` seem to work fine

[code]

This was working fine back on `v0.1.7`

[2021-07-06 07:45] DRoet commented on #3
@victorgarciaesgi I agree with this change, however maybe every chart type should get the Chart suffix to keep it consistent?
`Bar -> BarChart` ?

[2021-07-06 07:49] victorgarciaesgi commented on #9
Hi @DRoet, what is the error you have on 0.2.x ? I will look at it

[2021-07-06 08:00] DRoet commented on #9
The weird thing is that it doesn't throw an error, it just crashes my browser tab like something is being called recursively.

[2021-07-06 08:14] victorgarciaesgi commented on #9
Ok I think I found it and it's weird, Chart.js behave strangely when I want to make things reactive.
I just put a watcher on options to update the chart if the options changes, and removing the watcher seems to fix the problem

[2021-07-06 08:19] victorgarciaesgi commented on #9
I've got errors only with `CategoryScale` so it's weird, you can try 0.2.14 I removed reactive options,

[2021-07-06 08:19] #7 closed

[2021-07-06 09:13] victorgarciaesgi commented on #3
You're right it's more consistent. I will make another breaking change release with updated names!

[2021-07-06 21:02] Mootook commented on #7
@victorgarciaesgi yup! Thanks again

[2021-07-07 08:21] DRoet commented on #9
This issue is now resolved, however please take a look at https://github.com/victorgarciaesgi/vue-chart-3/commit/dfec8989388d49b9a74f4fe24c938a11948758c6#r53151569

[2021-07-08 23:13] jacekkarczmarczyk opened #10 "[0.3.2] Cannot find module '@vue/runtime-dom' or its corresponding type declarations."
Thanks for the package, works great so far except the following typescript error. I'm using Vue 2 with VCA plugin, so there's no `@vue/runtime-dom` package installed obviously. The error itself is gone after I've installed it but there are other JSX related errors, so probably not the way to go

[code]

EDIT: `"skipLibCheck": true` seems to do the job as well, the question remains though - is this

[2021-07-12 09:22] Gudleiv opened #11 "Canvas tag has incorrect attributes"
Hi!
Canvas has default height and width with incorrect attribute "attrs" in DOM
`<canvas attrs="[object Object]" width="188" height="150"></canvas>`

This fix helped me https://github.com/victorgarciaesgi/vue-chart-3/pull/12

[2021-07-12 09:29] victorgarciaesgi commented on #10
Hmm that's maybe because I didn't put in the the resolutions! I will fix it thanks for the report @jacekkarczmarczyk ! :)

[2021-07-12 09:32] victorgarciaesgi commented on #11
Taht's weird, for me the canvas attributes are well rendered

`<canvas id="doughnut-chart" width="720" height="720"></canvas>`

[2021-07-12 09:38] victorgarciaesgi commented on #10
Should be fixed on 0.3.4!

[2021-07-12 10:15] jacekkarczmarczyk commented on #10
Hmmm, I'm still having the same error in 0.3.4

[2021-07-12 10:21] Gudleiv commented on #11
Same problem is here https://codesandbox.io/s/demo-vue-chart-3-ugynm

[2021-07-12 10:22] victorgarciaesgi commented on #10
Try reinstalling your dependencies `yarn` or `npm i`, or delete node_modules and reinstall. I changed the peerDependencies

[2021-07-12 10:25] victorgarciaesgi commented on #11
@Gudleiv Ok found the problem https://v3.vuejs.org/guide/migration/render-function-api.html#_2-x-syntax-3.

I need to make 2 different render function for Vue 2 & 3

[2021-07-12 10:29] victorgarciaesgi commented on #11
Try `0.3.5` it should be good!

[2021-07-12 10:32] jacekkarczmarczyk commented on #10
[code]
didn't work (vue cli project, vue 2 + vca, no `@vue/runtime-dom` installed, `skipLibCheck` set to `false`)

I'll try later to make a github reproduction

[2021-07-12 10:40] victorgarciaesgi commented on #10
Seems like it's not installing it, I think I will have to put it in dependencies

[2021-07-12 10:41] victorgarciaesgi commented on #10
Can you try `0.3.7`, I removed `@vue/runtime-dom` dependency, and just added `csstypes` instead! So now it should only depend on it

[2021-07-12 10:52] jacekkarczmarczyk commented on #10
It works with 0.3.7, thank you!

[2021-07-12 10:52] #10 closed

[2021-07-12 12:02] Gudleiv commented on #11
Issue solved, thank you for quick response!

[2021-07-12 12:25] #11 closed

[2021-07-15 08:00] Anubarak opened #13 "How to trigger reactivity / re-render chart by hand?"
How is it possible to re-render the chart by hand when data changes?

I made this little sandbox where I wand to change the axis by user input.
https://codesandbox.io/s/suspicious-monad-h5ecd?file=/src/components/Chart.vue

Changing the xMax / xMin changes indeed the passed options to your chart (I render the options above the chart) but the chart itself does not change.
Is it maybe because you co

[2021-07-15 09:11] victorgarciaesgi commented on #13
Hi and thanks for the report!

Normaly the chart re-render automaticaly when the data changes!
I had to change how the options works because of numerous bugs when `options` is reactive :(

The solution for now is to force rerender by using the `chartInstance`, you can get it by using event `chart:render`, or the prop `onChartRender`.

I'm working on a solution to make `options` reactive again :)

[2021-07-15 11:39] victorgarciaesgi commented on #13
`0.3.8` should have working reactive options! (tested on vue 2), working on a vue3 repro

[2021-07-15 11:54] Anubarak commented on #13
Wow, thank you so much for your incredible fast response.
Alright, I'll play around a little bit.

[2021-07-15 14:15] victorgarciaesgi commented on #13
@Anubarak Updated the demo to showcase the reactive options :)

https://codesandbox.io/s/demo-vue-chart-3-ugynm?file=/src/App.vue

[2021-07-15 14:26] Anubarak commented on #13
Awesome, I updated my version and it works great.
Thank you

[2021-07-15 14:26] #13 closed

[2021-07-16 09:42] Oleksii14 opened #15 "[Vue warn]: Do not use built-in or reserved HTML elements as component id: Line"
Hello! Noticed one small issue while using this lib. Can you please change the chart component names to be not similar with native HTML elements?

Example
vue-chart-3/dist/index.js, line 9

`exports.LineChart = components_1.defineChartComponent('line-chart', 'line');` to be replaced by
`exports.LineChart = components_1.defineChartComponent('line-chart', 'line-chart');`

It should fix the issue. Th

[2021-07-16 10:06] Oleksii14 commented on #15
![image](https://user-images.githubusercontent.com/36737084/125931378-f07fd388-6052-44f8-8491-3a286807d6ef.png)

[2021-07-16 10:06] victorgarciaesgi commented on #15
Hi thanks for the report!

It's published in `0.4.1` ! I made another ajustement because the second argument if for Chart.js
https://github.com/victorgarciaesgi/vue-chart-3/commit/45a467b6820dc200d9415062fba40e82424a22ea
The warning should be gone now :)

[2021-07-16 10:07] #15 closed

[2021-07-19 07:46] DRoet commented on #9
@victorgarciaesgi unfortunately this regression can back in the latest version (0.4.1). As soon as you add `options.scales` to the charts the browser tab crashes

[2021-07-19 07:53] victorgarciaesgi commented on #9
@DRoet What options do you use? I use options in my exemples and it works :(

[2021-07-19 08:01] DRoet commented on #9
It happens as soon as I add the scales key, the value doesn't even matter. Is your example using Vue 2? I am using:

[code]

[2021-07-19 08:18] victorgarciaesgi commented on #9
My template in local is using Vue 2. I'm trying to make a repro and codesandbox with there seems to be a bug with vue-demi and vue 2 on CodeSandbox
https://codesandbox.io/s/demo-vue-chart-3-vue-2-pvogd

Otherwise, the test project is here if you want to try https://github.com/victorgarciaesgi/vue-chart-3/tree/main/packages/test/vue2

[2021-07-19 08:28] victorgarciaesgi commented on #9
I managed to get it working on a nuxt container

https://codesandbox.io/s/zealous-turing-0g0je?file=/pages/index.vue

[2021-07-19 08:38] DRoet commented on #9
Ah it seems to be a problem specific to the (older) options-API, all your examples are fully using the composition API:

example:

[code]

[2021-07-19 08:43] victorgarciaesgi commented on #9
That's weird, normaly both apis are compatibles with each other

[2021-07-19 08:50] victorgarciaesgi commented on #9
You're right it's completly crashing my tabs, I don't know how to debug this bug

[2021-07-19 08:54] victorgarciaesgi commented on #9
I found a workaround @DRoet . If your `options` is a computed data, it will not crash

[2021-07-19 09:05] victorgarciaesgi commented on #9
I updated the docs to warn about using options in data or ref (same error using `ref`). Still weird bug and i don't know if this is Vue related or Chart.js related

[2021-07-19 09:47] victorgarciaesgi commented on #9
@DRoet Fixed the bug on `0.4.3` !!! I found where it cames from. Chart.js was mutating `options` so it triggered a callback loop between the watcher and the data. Computed didn't had this problem because it was not mutated.

Now it's working fine :D

[2021-07-19 10:00] DRoet commented on #9
Awesome thank you for fixing this 😄

[2021-07-19 10:10] victorgarciaesgi commented on #9
And thanks to you for reporting it 😄

[2021-07-19 12:19] DRoet commented on #9
welp I spoke too soon and should've tested this first, I am getting an error on my end when trying to run the latest version:

[code]

and:

[code]

[2021-07-19 12:21] victorgarciaesgi commented on #9
Ah yeah that's normal on Vue 2, did you registered `@vue/composition-api` ?

[2021-07-19 12:24] DRoet commented on #9
Yeah I have `Vue.use(VueCompositionAPI)` somewhere on top of my main.js file. the stacktrace however mentions `components.js` which is located within this library

[2021-07-19 12:29] victorgarciaesgi commented on #9
Try deleting and reinstalling your dependencies, i'm not reproducing it on my Vue 2 project.
And even weirder because there is not even the need to call `Vue.use(compositionApi)` because I use `install()` from vue-demi which register it itself

[2021-07-19 12:46] victorgarciaesgi commented on #9
By the way are you trying on local or on Codesandbox? Because the later doesn't support vue-demi. I didn't manage to get it working yet with Vue 2

[2021-07-19 12:52] DRoet commented on #9
Local, I'm 99% sure its not a dependency issue since I run things in docker containers which ensures I always get fresh packages when my lockfile changes

[2021-07-19 13:00] DRoet commented on #9
ah its the vue-demi version bump that seems to cause it, I used `yarn resolutions` to pin the version to 0.9.1 and now it seems fine. maybe related to https://github.com/vueuse/vue-demi/issues/76?

[2021-07-19 13:01] victorgarciaesgi commented on #9
Yeah I found this issue too this may be it, I will downgrade the vue-demi version until the fix is merged

[2021-07-19 13:02] DRoet commented on #9
just a typical Monday am I right? 😄

[2021-07-19 13:07] victorgarciaesgi commented on #9
Ahaha yeah typical monday 😩

[2021-07-19 14:07] #9 closed

[2021-07-22 08:31] Krulaks opened #17 "Accessing chartInstance without refs"
Hi,
is there any way to get into chartInstance without references?

For example as in vue-chartjs:
![image](https://user-images.githubusercontent.com/13303797/126610709-f4f46349-9d10-4624-91aa-7974f4c37a9e.png)

[2021-07-22 09:43] victorgarciaesgi commented on #17
Hi no you can't access chartInstance like that because it's not the same behaviour as `vue-chartjs`. They need you to declare a new component for each Chart whereas here you juste have to import the pre-made component.

So like this:

[code]

[2021-07-22 10:05] victorgarciaesgi commented on #4
@TheCelebrimbor Just so you know, `chartInstance` is now accessible by `ref`, I managed to make it reactive :)

[2021-07-22 10:27] Krulaks commented on #17
On 0.3.2 version refs value was undefined.
After upgrading to the newest version (0.3.7), it seems that this version is not working at all?
I mean, whole website is unresponsive.

[2021-07-22 10:29] victorgarciaesgi commented on #17
@Krulaks upgraded to the newest version `0.4.7`, there were breaking changes and fixes to get it working on both Vue 2 & 3

[2021-07-22 10:53] Krulaks commented on #17
On 0.4.7,
using this code:

[code]
It returns:
![image](https://user-images.githubusercontent.com/13303797/126628287-a2fbb078-f5f4-49e5-8cbc-5c72fcdce1a9.png)

[2021-07-22 10:58] Krulaks commented on #17
Nevermind, I forgot about adding { } to return

[2021-07-22 11:57] #17 closed

[2021-07-26 11:44] jacekkarczmarczyk opened #18 "[0.4.8] Cannot find module '@vue/runtime-core' or its corresponding type declarations."
Hi again; ) It's simimlar issue to https://github.com/victorgarciaesgi/vue-chart-3/issues/10

[code]

[2021-07-26 12:03] victorgarciaesgi commented on #18
Hi and thanks for the report! Are you using Typescript? That must come from the types I use from `@vue/runtime-core`.
I need to add it to the dependencies then :/
For bundlephobia it is okay if it's just types? (Mentioning @DRoet too since he know better than me :D)

[2021-07-26 12:06] victorgarciaesgi commented on #18
Try `0.4.9`

[2021-07-26 12:13] jacekkarczmarczyk commented on #18
better :) still `@vue/runtime-dom` left

[code]

[2021-07-26 12:21] victorgarciaesgi commented on #18
Rahh sorry about this, deploying another fix :(

[2021-07-26 12:22] jacekkarczmarczyk commented on #18
No problem at all, thanks for you work!

[2021-07-26 12:35] jacekkarczmarczyk commented on #18
Hmm, got some other errors, actually afaik they are the same errors that I got in #10 when I've added `@vue/*` to my project

[code]

[2021-07-26 12:59] victorgarciaesgi commented on #18
Ok this is not normal, have you added ` "skipLibCheck": true` in your tsconfig to avoid that? I had no problem with the Vue 3 + typescript demo

[2021-07-26 13:05] jacekkarczmarczyk commented on #18
As I mentioned here and in #10 adding `skipLibCheck` removes the errors, but for me hiding errors is rather a temporary workaround, not the solution.
Also same like in #10 I'm using Vue 2 with plugin, not Vue 3

[2021-07-27 12:23] Shinigami92 opened #19 "Getting VueCompositionApi error"
Version: 0.4.10 or 0.5.0-alpha.2

![image](https://user-images.githubusercontent.com/7195563/127151949-06976ad0-e435-418e-b983-f76714929104.png)

[code]

---

In my main.ts I definitely have a `Vue.use(VueCompositionAPI);` call and everything else is working.
But the charts are not rendered

Example code for a chart:

[code]

---

I'm trying to migrate from `vue-chartjs` to your plugin cause you s

[2021-07-27 12:26] Shinigami92 commented on #19
I'm using vite + vue2 + vuetify as a setup

I also have an error with `> 0.5.0-alpha.2` with the package `nanoid`, but due to it's beta I ignored it for now

[2021-07-27 13:14] Shinigami92 commented on #19
This issue looks familiar too me like https://github.com/vuejs/composition-api/issues/769 🤔
Maybe you need to update some dependencies or something like that 🤷

[2021-07-29 08:20] victorgarciaesgi commented on #18
Yeah the problem with `skipLibCheck` is it will check code that isn't yours. So it's code that should already have been built or tested so I enable it all the time.
And for the error you have it's from `@vue/runtime-dom` so I can't do anything :/

[2021-07-29 08:23] victorgarciaesgi commented on #19
Hi @Shinigami92 thanks for the report!
I will look into it! I don't even know if I support Vite aha

[2021-07-29 08:55] victorgarciaesgi commented on #19
I've updated deps on `0.4.11`, but it's weird I don't reproduce it on the demo

[2021-07-29 10:17] Shinigami92 commented on #19
Just guessing, but does it have anything todo with the failing CI?
https://github.com/victorgarciaesgi/vue-chart-3/runs/3190040294#step:5:18

[2021-07-29 12:33] victorgarciaesgi commented on #19
The tests are not fail proof yet and are still in progress (I'm just learning Karma and Jasmine) but I will look into it!

[2021-07-29 13:02] victorgarciaesgi commented on #19
@Shinigami92 Try `0.4.12`, I had the bug on my nuxt demo too. It seems to be linked to a bug with vue-demi, I downgraded the version and now it works.
https://codesandbox.io/s/vue-chart-3-vue-2-mrtej?file=/package.json

[2021-07-29 13:02] victorgarciaesgi commented on #19
Also the build passed now :p

[2021-07-29 13:18] Shinigami92 commented on #19
Will report you back tomorrow or over weekend. Not @home currently 🙂

[2021-07-30 08:42] DerYeger opened #21 "[0.5.x] Breaks unit-testing with Jest"
I had no issues testing my chart components with Jest while using 0.4.12. My Jest config includes all necessary transforms (js, ts, and vue).
However, updating to 0.5.0 or any newer version breaks Jest compatibility and results in `Jest encountered an unexpected token` with the following error:

[code]

in `\node_modules\vue-chart-3\dist\index.js:1`.

I guess since 0.5.x the distributed code isn't

[2021-07-30 08:48] victorgarciaesgi commented on #21
Hi @DerYeger you're right I noticed it too with Nuxt SSR where the code needs to be transpiled first. I tweeking the tsconfig to make it work

[2021-07-30 08:52] DerYeger commented on #21
Ok, I'm glad it's not just me!

Thank you for your work on this project, it's awesome to finally use Chart.js 3.

[2021-07-30 09:22] victorgarciaesgi commented on #21
I think I fixed it in `0.5.6-alpha.2` if you could test it! :D
But it's a bug that really frustrate me because fixing it means breaking all my tests, and it's all linked to a `nanoid` import :(
I'm just learning tests and i struggle with Karma/Jest

[2021-07-30 09:45] victorgarciaesgi commented on #21
Just managed to fix the bug AND fix the tests :p
Waiting on your feedback!

[2021-07-30 09:45] #18 closed

[2021-07-30 10:58] DerYeger commented on #21
Works like a charm, thank you!

[2021-07-30 11:21] victorgarciaesgi commented on #21
Yeaah

[2021-07-30 11:21] #21 closed

[2021-08-03 09:50] noook commented on #19
Got the same error here since a few days, gonna try pinning versions of vue-demi or vue-chart-3 to lower versions

[2021-08-03 14:03] victorgarciaesgi commented on #19
@noook what version are you on?

[2021-08-03 14:12] noook commented on #19
I was on 0.1.7

I managed to solve the issue, I think the problem was related to my version of VCA.

I had to regenerate my lockfile earlier and it seems my version of VCA doesn't work when superior to 1.0.0-rc7 or else (I can't target the very specific version that causes trouble)

[2021-08-03 17:12] Shinigami92 commented on #19
Sorry for reporting so late, but sadly with v0.5.7 still the same :slightly_frowning_face:

[2021-08-03 21:16] victorgarciaesgi commented on #19
@Shinigami92 did you reproduce it on a codesandbox? Try reinstalling your dependencies

[2021-08-04 13:41] noook commented on #19
I can't reproduce in a codesandbox, I have the `nanoid` package error when I tried reproducing

[2021-08-04 14:31] victorgarciaesgi commented on #19
@noook  Can you link me the sandbox where you have the nanoid package problem please, I though i fixed it :(

[2021-08-04 14:54] noook commented on #19
No I think you did, I probably was debugging with older versions of your package

However, you can notice on this I have a vue-demi error: https://codesandbox.io/s/exciting-leftpad-jjw49?file=/src/App.vue

[2021-08-06 12:04] stitch opened #23 "Unclear how to use data from props "this is undefined""
Hi,

I'm passing data through props as the component should just render it and not contain it. I'm unable to find a way to access these props as 'this' is not defined. It's probably me not understanding this flavor of javascript syntax.

For example:

`
    const my_labels = computed(() => {
        console.log('generating labels')
        console.log(this.chart_data)
        let labels = [];

[2021-08-06 13:15] victorgarciaesgi commented on #23
Hi, I think you are mixing composition-api and object-api. Composition-api does not have access to `this`.

[2021-08-06 13:18] victorgarciaesgi commented on #19
@noook This bug is related to CodeSandbox, that's why I provided a demo with nuxt instead of Vue 2.
The reason is that codesandbox has no support for `postinstall` script, which `vue-demi` need to know if the project uses Vue 2 or 3.
Nuxt sandbox provides access to the terminal because of the server-side stuff, so i would call `vue-demi-switch 2`

[2021-08-12 13:23] bayramorhan opened #24 "Radar Chart Background Color"
**I could not manage to make legends visible**

![image](https://user-images.githubusercontent.com/29787118/129207644-79e0c3d3-7fe3-4468-8250-ecc3ece34f98.png)

`const options = ref({
      responsive: true,
      plugins: {
        legend: {
          display: true,
        },
      },
    });`

[2021-08-12 13:51] #24 closed

[2021-08-25 13:05] Mastercuber opened #25 "npm install fails"
I can't install the package with `npm` with the error message
[code]
Now I just clone the repository and install it with an entry like this
[code]

[2021-08-29 07:02] Manu-jayaprakash opened #26 "Is Mixed Chart Types Supported ?"
As char.js documentation suggests a way of using mixed charts - https://www.chartjs.org/docs/latest/charts/mixed.html.
Is that supported here ?

[2021-09-01 12:36] victorgarciaesgi commented on #26
Hello! No i don't think it's supported but it's a great feature to add!
I will work on a `MixedChart` component

[2021-09-01 12:36] victorgarciaesgi commented on #25
Hi, Are you sur the bug comes from `vue-chart-3`?

[2021-09-01 12:37] #23 closed

[2021-09-06 07:59] DRoet opened #27 "v0.5.8 release"
Hi,

there is a new version published on NPM, but I can't find any reference in the changelog/releases.

Any idea where this publish came from and which changes it includes?

[2021-09-07 07:55] victorgarciaesgi commented on #27
Hi! It's was just some styles fixes nothing breaking :)

[2021-09-07 08:14] #27 closed

[2021-09-07 17:38] edwardz8 opened #28 "data undefined"
I’m getting the data back from graphql and it’s rendering to the template no problem, but when trying to pass the data to the chart (PolarChart) I get undefined. I don't believe this is a bug -- i'm sure I'm just overlooking something -- but I also thought it could be useful to post here incase someone in the future runs into a similar issue.

Even though i'm using Vue3 are registerables and Chart

[2021-09-11 00:08] Mastercuber commented on #25
Hi, no not really. It seemed for me like this is an distribution problem of the node package since I could install other packages without any errors.
A minute ago I created an empty project and tried to install the package again with success. So maybe this was just any temporary error with node/npm.

[2021-09-13 22:04] Mastercuber commented on #25
Therefore I will close this issue

[2021-09-13 22:04] #25 closed

[2021-09-20 13:53] victorgarciaesgi commented on #28
@edwardz8 Sorry for delay I was in vacations!
Do you still have the problem?

[2021-09-20 14:07] victorgarciaesgi commented on #26
@Manu-jayaprakash Sorry for the long wait.

After looking at it, it may be already supported!

Just use any Chart component you want in priority, and define mixed data with the `chart-data` prop!

https://codesandbox.io/s/demo-vue-chart-3-forked-e3yz2?file=/src/App.vue

[2021-09-20 23:36] edwardz8 commented on #28
@victorgarciaesgi no worries! but last time i checked i was still getting the same error of data undefined

[2021-09-24 10:05] ellogwen opened #29 "Can't get this to work, missing template"
I am getting this error message:

[code]

This is my simple component:

[code]

I added chartjs, vue-chart-3 and @vue/composition-api to the project. I am not using the composition api for my own components. Is this the issue? can't I mix composition and traditional components?

[2021-09-24 10:06] ellogwen commented on #29
Nevermind, In am dumb. I forgot the curly braces for the import

`import { BarChart } from 'vue-chart-3'`

I am sorry.

[2021-09-24 10:06] #29 closed

[2021-09-24 10:08] victorgarciaesgi commented on #29
Aha no problem @ellogwen !

[2021-09-27 09:34] ennioVisco opened #30 "Yarn error (non-blocking)"
Running `yarn check` provides the following result:

`error "vue-chart-3#csstype" is wrong version: expected "3.0.9", got "2.6.18"`

[2021-09-28 16:43] victorgarciaesgi commented on #30
Thanks @ennioVisco , I will update the dependencies

[2021-09-28 16:45] #26 closed

[2021-09-28 16:45] #19 closed

[2021-10-02 09:07] LePashtet opened #32 "Error building Vue3 app with Vite"
I just imported this package, don't even use it end get such error

[code]

[code]

[2021-10-11 12:26] dylan-george-field opened #33 "Dataset.hidden property not reactive"
I can only trigger the hidden property once from true > false (vice versa) using a ref.

The chart data is updating correctly.

See the modified demo attached to the shuffle button

https://codesandbox.io/s/demo-vue-chart-3-forked-318sq?file=/src/App.vue

[2021-10-17 17:27] GijsGoudzwaard opened #38 "Usage without TypeScript"
I get this error when I use this package without TypeScript: `Uncaught (in promise) Error: "doughnut" is not a registered controller.`.

`vue-chart-3` version `0.5.8`
`chart.js` version `3.5.1`
`vue` version `3.2.20`

Code taken from docs:

[code]

[2021-10-18 05:28] GijsGoudzwaard commented on #38
Thanks that fixed the issue :)

[2021-10-18 05:28] #38 closed

[2021-10-18 13:39] voraczech opened #39 "Nuxt3 - extend docs"
Since [Nuxt v3](https://v3.nuxtjs.org/) is out, can you extend docs for this version, if there is any known settings to be done?

Btw there is also a typo - it's ex*a*mples (with `a`), not ex*e*mples

[2021-10-25 11:04] christhofer opened #40 "Error when installing v0.5.9"
I'm currently at v0.5.8,
When I run `npm update`, I got this error.

[code]

[2021-10-25 16:57] #40 closed, assigned to nobody

[2021-10-26 08:19] Shujee opened #41 "How to extend existing charts?"
Is there any example available for extending existing chart types in vue-chart-3? I have created a custom chart before using `vue-chartjs`, but that was with pure JS and vue 2. This time I want to create a component using TypeScript and Composition API.

I need to override `draw()` function as I need to do some custom drawing. Any tips or a bare-bone example of extending the built-in bubble chart

[2021-10-26 13:36] JasonMan34 opened #42 "Build errors with vite"
Installing (and importing) this package on a clean vue-vite project with typescript causes build errors

[code]

Relevant dependencies:
[code]

Minimal reproduction repo - https://github.com/JasonMan34/vite-vue-chart-3-bug

[2021-10-26 14:52] #41 closed, assigned to nobody

[2021-10-30 05:09] kaydwithers opened #45 "Is it possible to use Chart.Tooltip.positioners.middle ?"
If I try to use `Chart.Tooltip.positioners` in Vue then I get an `undefined` error. Is this possible in Vue Chart 3, if so can we add a doc for it?

Below is a vanilla JS example of Chart.Tooltip.positioners.

https://jsfiddle.net/kaydwithers/py8e5sxb/

[2021-10-30 14:08] mbokil opened #46 "v-bind not working well in v-for loop"
I ran into this problem with v-bind. I have line charts in a loop using the composition API but the charts kept disappearing when the data changes. I ended up having to force the line charts remount using a v-if hack. After the component is mounted I  set the v-if to true to force the component to remount. Anyone seen this issue?
`<LineChart v-if="row.isVisible" v-bind="row.bpTrendProps" class="ti

[2021-10-30 14:17] victorgarciaesgi commented on #45
Hi @kaydwithers , hum I don't know i didn't know this feature. Did it worked before with `vue-chartjs` ? `vue-chart-3` is basically a port of vue-chartjs

[2021-10-30 14:19] victorgarciaesgi commented on #46
Hi @mbokil , can you make a quick reproduction on codesandbox or something so I can investigate? :)
Maybe is because of the  v-for `key` attribute, but I think you tried it already

[2021-10-30 14:35] mbokil commented on #46
Yeah I have a unique key for each element. I tried some other suggestions like adding another binding like :updateCount="count" to the chart and then incremented count after updating the data but the reactivity doesn't pickup the change. Let me see if I can isolate the component and post it with some mock data on codesandbox.

[2021-11-03 09:01] hisuwh opened #47 "Build errors in unrelated tsx files"
I'm unable to upgrade from vue-chart-3@0.4.8 to latest v0.5.11 as I am getting build errors in my Vue TSX files that are not using charts:

[code]

I notice you have taken a dependency on `@vue/runtime-core` and `@vue/runtime-dom`  v3.2.20 (https://github.com/victorgarciaesgi/vue-chart-3/blob/main/package.json#L54) - I wonder if this could be a factor?

[2021-11-03 09:23] victorgarciaesgi commented on #47
Hum that's weird. Do you use the JSX shim?  I think a will release a version specifically for Vue 3 and another for Vue 2. It becomes too complicated to manage dependencies and types with only `vue-demi`. I will keep a branch updated for Vue 2

[2021-11-03 10:17] hisuwh commented on #47
I've been going through the versions and it looks like `v0.4.10` is when it started breaking.  Which looks like when you introduced the dependency on `@vue/runtime-core` and `@vue/runtime-dom`: https://github.com/victorgarciaesgi/vue-chart-3/compare/v0.4.8...v0.4.10

[2021-11-05 07:16] JasonMan34 commented on #42
Any word on this?

[2021-11-07 15:00] maiolica commented on #47
I'm having a similar issue, downgrading to v0.4.8 fixes this, thanks @hisuwh for the hint.

[2021-11-07 15:15] victorgarciaesgi commented on #47
Sorry for the lack of updates, I don't have much time recently to work on it. Will keep you updated

[2021-11-11 08:18] IgorShayderov opened #48 "LineChart. Chart options are not applying."
Hello. I can't figure out what I'm doing wrong.
I was using vue-chartjs and everything was great, now I'm migrating to your vue-chart-3.
I have component of specific linear-chart (I have 3 different linear charts in my project) and component of general linear-chart, I'm passing chartData and options and merging them together.

SpecificLinearChart.vue

[code]
GeneralLinearChart.vue

[code]
I can se

[2021-11-11 13:01] Voodu opened #49 "Horizontal bar chart not working"
~~According to the [ChartJS 3 docs](https://www.chartjs.org/docs/3.5.1/samples/bar/horizontal.html), making horizontal bar charts is a matter of setting~~
[code]
~~Unfortunately, that doesn't work with Vue Chart 3.~~

~~Sandbox: https://codesandbox.io/s/vue-chart-3-vue-2-forked-9l7rf (it's fork of the thing from the docs, just added `indexAxis`)~~

~~Any solutions or workarounds for this issue?~~

[2021-11-11 13:11] Voodu commented on #49
After several reloads it started working on codesandbox, so I guess it's some other bug in my setup. Sorry for the fuss.

[2021-11-11 13:11] #49 closed

[2021-11-11 18:31] IgorShayderov commented on #48
The problem was in migrating from chartjs v2 to v3

[2021-11-11 18:31] #48 closed

[2021-11-15 12:22] sambitevidev opened #50 "Invalid module name in augmentation, module '@vue/runtime-core' cannot be found.ts(2664) after installing"
Hey @victorgarciaesgi great lib. I faced an issue after installing it in my vue@3.2.21 project

![image](https://user-images.githubusercontent.com/75351755/141781047-2cc36796-a3d7-4c67-8e58-58c24469bc3d.png)

When I'm uninstalling this and re-loading vscode, the issue is not there. Can you please help. thx

[2021-11-15 13:28] victorgarciaesgi commented on #50
Hi @sambitevidev , where does the error comes from? This does not seems related to `vue-chart-3`

[2021-11-15 18:07] victorgarciaesgi commented on #50
Yeah I have problem with `vue-demi` since `0.5.x`.
I'm working on removing vue-demi et maintaining 2 separates branches for Vue 2 and Vue 3. It's too complex to manage deps and types for 2 vue versions

[2021-11-15 18:08] soulsam480 commented on #50
yes, I had a pleasant experience while re writing in <scrip setup>. Also the code was easy to understand, really thanks for your hard work.

[2021-11-15 18:10] victorgarciaesgi commented on #50
Thanks a lot! I only need time I just started a new job aha

[2021-11-15 18:11] soulsam480 commented on #50
That's cool. Congrats

[2021-11-16 20:02] LovelyAndy opened #51 "CodeSandbox example is broken"
Title
https://codesandbox.io/s/demo-vue-chart-3-ugynm?file=/src/App.vue

[2021-11-16 20:10] #32 closed

[2021-11-16 20:16] victorgarciaesgi commented on #51
Seems like a codesandbox related bug. They were down today

[2021-11-16 20:17] #45 closed

[2021-11-16 20:18] #39 closed

[2021-11-18 08:32] #51 closed

[2021-11-18 14:31] ejirocodes opened #52 "How to use plugins using the `defineChartComponent`"
How to use plugins using the `defineChartComponent`

After following the guide here: https://vue-chart-3.netlify.app/guide/configuration/plugins.html

[code]

`<MatrixChart />` is still not working in Vue template.
Please @victorgarciaesgi can you help out. Thanks

[2021-11-18 15:35] muety opened #53 "Type 'boolean' does not satisfy the constraint 'EmitsOptions'"
I'm getting the following error when building my Vue app.

[code]

**Versions used:**
[code]

Any ideas how to solve this?

[2021-11-18 15:37] victorgarciaesgi commented on #52
Can you link me a reproduction on codesandbox so I can investigate? What is the error?

[2021-11-18 15:38] victorgarciaesgi commented on #53
Add `skipLibCheck: true` to your `tsconfig.json`

[2021-11-18 15:40] muety commented on #53
Thanks for your quick reply, that option fixed my build. Do you want to close this ticket or keep it open to eventually fix the issue in code?

[2021-11-18 15:42] victorgarciaesgi commented on #53
I don't have the error at build time, so it must come from your typescript version I think!
I'll keep it open if anyone is having this error

[2021-11-18 16:51] LovelyAndy opened #54 "All charts lose height and width if dragged and option responsive = true"
Firstly, thank you for the quick response last time!
I have been working with a drag and drop library, [VueDraggableNext](https://github.com/anish2690/vue-draggable-next) on my project and wanted to use your VueChart3 wrapper for my project. However if you have the option responsive selected and try to drag the chart the height and width are set to 0.
I made a CodeSandbox and gave the chart a togg

[2021-11-18 17:22] victorgarciaesgi commented on #54
Hi and thanks @LovelyAndy !
I will look into this, it could be Chart.js related because I only pass the props to the chart constructor.

Try using the `styles` prop for setting width and height as a workaround!

[2021-11-22 15:58] LovelyAndy commented on #54
Just an update to the error. This is from the Chartjs repo. Things work with a react drag n drop project, but not one with Vite. Perhaps this is where help ends at this end as well, but I figured I'd let you know how far I got with this issue. I suspect I am not the only person with a Vue3 and Vite app trying to use charts, but only time will tell😅
https://github.com/chartjs/Chart.js/issues/9875#i

[2021-11-22 16:09] victorgarciaesgi commented on #54
@LovelyAndy Thanks for the update! Yeah you're not the first one to open bugs with Vite related bugs 😅

[2021-11-22 19:16] LovelyAndy commented on #54
@victorgarciaesgi Yeah, I'm not too sure the potential errors that come from Vite, but I'm sure more and more people will be attempting to do what I'm doing now; hopefully they're better at debugging it than I am haha

[2021-11-23 15:03] #52 closed

[2021-11-23 15:04] victorgarciaesgi commented on #50
@soulsam480 New version only for Vue 3 is out. With a legacy `2.x` for Vue 2! Check out the new docs :)

[2021-11-23 15:04] victorgarciaesgi commented on #47
@hisuwh  @maiolica  New version only for Vue 3 is out. With a legacy 2.x for Vue 2! Check out the new docs :)

[2021-11-23 15:04] victorgarciaesgi commented on #47
Tell me if that fixes your problem

[2021-11-23 15:07] soulsam480 commented on #50
Sure will check it

[2021-11-23 16:27] maiolica commented on #47
Hi Victor, it seems to be working great, thank you for your work on the docs too!

[2021-11-23 17:05] hisuwh commented on #47
I'm getting a new error now:
[code]

[2021-11-23 17:07] victorgarciaesgi commented on #47
@hisuwh Volar is returning this error? I'll check if htmlAttrs is declared

[2021-11-23 17:08] victorgarciaesgi commented on #47
Oh it's on tsx render function sorry

[2021-11-23 17:15] victorgarciaesgi commented on #47
Hmm no error on my side
![image](https://user-images.githubusercontent.com/15092120/143072091-5e901035-6d63-49a5-9533-ef87e248ef6c.png)

[2021-11-23 17:15] victorgarciaesgi commented on #47
Oh ok it's the build step that fails. Weird

[2021-11-23 19:17] hisuwh commented on #47
What if you assign the props explicitly rather than spread?

[2021-11-23 19:17] hisuwh commented on #47
I get the error on build and in Vs code

[2021-11-23 19:22] victorgarciaesgi commented on #47
I know where it comes from. I use the type `ExtractPropTypes` and it's not made for tsx. I will fix it tonight

[2021-11-23 21:55] victorgarciaesgi commented on #47
@hisuwh Should be fixed on `3.0.1`

[2021-11-23 22:19] hisuwh commented on #47
3.0.1? I'm using Vue 2. Is that right?

[2021-11-23 23:00] victorgarciaesgi commented on #47
Oh shit I though you were on Vue 3 aha

[2021-11-24 09:25] hisuwh commented on #47
My bad tbf - I never specified

[2021-11-24 15:48] victorgarciaesgi commented on #47
@hisuwh Try `2.0.2` it should work now

[2021-11-25 08:27] #30 closed

[2021-11-25 08:28] victorgarciaesgi commented on #42
Should be fixed with new version!

[2021-11-25 08:29] #50 closed

[2021-11-25 08:29] #53 closed

[2021-11-25 16:10] hisuwh commented on #47
Mmm same problem.
![image](https://user-images.githubusercontent.com/4470351/143473984-8f32828f-afea-4d8b-8f4c-b994d184877c.png)

[2021-11-28 21:39] JasonMan34 commented on #42
Works fine now, thanks for the support!

[2021-11-28 21:39] #42 closed

[2021-12-06 22:38] nielsvanrijn opened #58 "Maximum call stack size exceeded when adding new data"
Hi i'm using vue-chart-3 with vue 3 and typescript.
I want to dynamically add a datapoint to the array of datapoints but when I do this I get an "Maximum call stack size exceeded".
Since shuffling the data works fine reactively I thought adding data would also work.

Example: [https://codesandbox.io/s/demo-vue-chart-3-forked-thrmf?file=/src/App.vue](https://codesandbox.io/s/demo-vue-chart-3-forked

[2021-12-06 22:54] nielsvanrijn commented on #58
Answering my own question with a solution.
`.value.push(...)` doesn't work but you can insert by doing `value[index] = value`

Example: [https://codesandbox.io/s/demo-vue-chart-3-forked-3jmt0?file=/src/App.vue](https://codesandbox.io/s/demo-vue-chart-3-forked-3jmt0?file=/src/App.vue)

Still it would be nice to `.push()` and `.unshift()` directly to the array.

[2021-12-08 17:54] LovelyAndy commented on #54
@victorgarciaesgi Just wanted to give you a quick update! Looks like the fix that I was able to get them to implement (#9876 Detect detach/attach in same observation) in Chartjs has been added as of their 3.6.1 version. This should solve the issue:D

[2021-12-08 18:05] LovelyAndy opened #59 "Errors when trying to add mixed"
Hello,
I am trying to make  bunch of dynamic charts and am getting errors when making  a [mixed chart](https://www.chartjs.org/docs/latest/charts/mixed.html) with a bar and line chart.
The error I get comes from using `type: Object as PropType<ChartData<"bar"> | ChartData<"line">>` when defining my PropType. I think this is due to the definition of the **ChartData** type and not having a **ChartTy

[2021-12-09 09:12] jedy05097952 commented on #47
I'm having a similar error in Vue3 version
It's only worked on 0.4.8

[code]

[2021-12-09 09:39] victorgarciaesgi commented on #47
@hisuwh sorry i don't have much time lately i will look into it

[2021-12-09 09:39] victorgarciaesgi commented on #47
This error is not related to vue-chart-3

[2021-12-09 09:40] victorgarciaesgi commented on #59
Hi @LovelyAndy, i will look into the typings, maybe there is a smart way to do it! Could you make a quick codesandbox exemple based on the vue 3 demo? 😁

[2021-12-09 09:51] victorgarciaesgi commented on #54
Cool thanks for the update! I can consider it closed? :)

[2021-12-09 14:25] #54 closed

[2021-12-09 14:26] LovelyAndy commented on #59
Awesome! Cheers on the detailed and fast response:D

[2021-12-09 14:27] victorgarciaesgi commented on #59
Keep me updated, I only checked the typings part, I hope in runtime it works too :p

[2021-12-11 15:38] GijsGoudzwaard opened #60 "Vue 2 composition API issue"
`vue-chart-3` automatically registers the composition API on https://github.com/victorgarciaesgi/vue-chart-3/blob/22eb701184f75476e08e067e836d65c3519bfc8b/src/components.ts#L26 Since it is loaded within vue chart I don't need to load it myself. But on pages where there isn't a chart I must load it manually. Because vue doesn't allow me to load it twice I must check on which page I am before loadin

[2021-12-12 13:01] victorgarciaesgi commented on #60
Hi! You're right I didn't though of that at all. I will update it and update the docs :)

[2021-12-12 15:43] victorgarciaesgi commented on #60
Should be fixed on `v2.0.3`! added a warning message since it's a breaking change

[2021-12-13 07:56] gmw-web opened #61 "NPM docs: composition-api reference"
In the NPM docs (https://www.npmjs.com/package/vue-chart-3) there's the following line:

From the other documentation, I understood that the composition-api needs manual install, so the last sentence is incorrect? I guess the NPM docs need a minor update to reflect the change.

[2021-12-13 08:45] victorgarciaesgi commented on #61
Just updated the github and site docs yesterday but it didn't updated the npm docs yet so it's normal

[2021-12-13 08:45] #61 closed

[2021-12-13 18:20] GijsGoudzwaard commented on #60
I'm getting this error when I'm now manually loading the composition API. I can use the composition API on other pages where there are no charts, but when I load charts I get the error: `Error in data(): "Error: [vue-composition-api] must call Vue.use(VueCompositionAPI) before using any function."`. See the console in the demo I forked from your documentation

https://codesandbox.io/s/vue-chart-3-

[2021-12-13 18:58] victorgarciaesgi commented on #60
Ho sorry i'm looking at it right now

[2021-12-13 19:02] victorgarciaesgi commented on #60
@GijsGoudzwaard Looks like a bug in `@vue/composition-api`. I upgraded the version to `1.4.1` and it works

https://codesandbox.io/s/vue-chart-3-vue-2-forked-e74e7?file=/src/App.vue

[2021-12-13 19:03] victorgarciaesgi commented on #60
I will make an update to enforce this version

[2021-12-15 07:09] GijsGoudzwaard commented on #60
Got it working by updating `@vue/composition-api` to `1.4.1`. Thanks for your help!

[2021-12-15 07:09] #60 closed

[2021-12-17 10:26] thefoxie opened #62 "Vue2 options api"
Is it possible to use vue2 as below (no setup, ref or anything composition api related used, but good old options api)?  Because I get  `InternalError: too much recursion`

[code]

[2021-12-20 11:57] victorgarciaesgi commented on #62
Yeah you can use option API. Can you make a reproduction on CodeSandbox? This must come from your code

[2021-12-21 16:55] anko2020 opened #63 "Plugins not working"
Hi all,

first of all I have to confess that I am rather new to javascript/Vue3, so this issue might be caused by some not very well understood fundamentals.

I have successfully created a LineChart Vue component using  vue-chart-3 and Vue3. Data is plotted correctly and the chart can be adjusted by using an "options" dict:

[code]

As a next step I have tried to add a plugin (chartjs-plugin-zoom)

[2021-12-21 17:13] anko2020 commented on #63
Hey Victor,

that was exactly the issue! :see_no_evil:

Thank you !!!

Cheers

[2021-12-21 17:13] #63 closed

[2021-12-21 22:24] Llois41 opened #64 "Access and type $refs for Chart Components using vue2 with Typescript"
Hi,

I'm coming from a vue2 and want to use this library to render nice Charts. I tried the minimal example to render a `DoughnutChart` and it works fine. Now, I want to create a `ref` to see what's possible to manipulate the chart this way. I'm following [this example](https://vue-chart-3.netlify.app/guide/usage/chart-instance.html). But when I try to access `doughtnutRef.value` it shows an error

[2021-12-21 23:00] Llois41 commented on #64
So I found that I'm getting access to e.g. the `chartData` by doing

`console.log(this.$refs.doughnutRef.chartData.labels);`

With typing `doughnutRef` as Vue (`$refs!: { doughnutRef: Vue } )` I at least get auto completion for all Vue attributes. But how can I make it specific to `DoughnutChart` to maybe also get TS support for `chartData`? Typing `doughnutRef` as `DonutChart` gives me

`'Doughnu

[2021-12-21 23:20] victorgarciaesgi commented on #64
Hi @Llois41 !
I don't have time to look at it now, can you make a quick reproduction on codesandbox so i can look at it tomorrow? :)

Also vue-chart-3 works with Vue 2. Did you add `@vue/composition-api` and registered it?

[2021-12-21 23:22] victorgarciaesgi commented on #64
I didn't test it with class component though. Try using the `@Ref` of vue-property-decorator

[2021-12-22 08:32] thefoxie commented on #62
@victorgarciaesgi yeah figured out it was my fault. Used it in nuxt with autoimport and there was conflict in naming. Usually `/folder/PieChart` would be registered as `<FolderPieChart/>` but when the same name was used inside the component (imported the PieChart and put it in components though and name wasn't set, but it must take precedence somehow), vue tried to used it recursively instead of t

[2021-12-22 08:32] #62 closed

[2021-12-22 10:11] Llois41 commented on #64
Yeah no hurry, i don't have that much time today myself. Will have a look into the `@Ref`, that's a good point. Will post some example tonight. Probs for those quick reaction man ;)

[2021-12-22 10:59] victorgarciaesgi commented on #64
Early christmas for you! Just made a demo of `vue-chart-3` using Vue 2 + class API
https://codesandbox.io/s/vue-chart-3-vue-2-class-api-f7gv1?file=/src/App.vue

There is bugs in CodeSandbox with logging Vue instances, so try it locally :)

I can also thank you because I hadn't made exemples using other component APis so I added it to the docs!

[2021-12-22 11:33] #59 closed

[2021-12-22 13:27] victorgarciaesgi commented on #47
@hisuwh Still have the problem?

[2021-12-22 23:43] Llois41 commented on #64
Works for me, man. Appreciate the quickness, so now I don't have to deep dive into this (at least for now). I'm still quite new to Vue and using this class style syntax feels more comfortable. Now I can dive into chart-js feeling type safe!

Joyeux Noël!

**nitpick**: In the CodeSandbox code there's an unused components folder including a `test.vue` which might cause some future confusion so why n

[2021-12-23 16:16] victorgarciaesgi commented on #64
Thanks a lot! :D
Aha also thank you, the source of the website is [here](https://github.com/victorgarciaesgi/vicflix) if you want!

Yeah I was just coding quickly without formatting don't worry :p

This must come from your browser, you mean in the docs website?

[2021-12-23 16:52] Llois41 commented on #64
I mean this (and all other examples in this directory): https://github.com/victorgarciaesgi/vue-chart-3/blob/main/docs/guide/examples/vue2-composition.md
The inline HTML gets rendered as text (at least using Edge or Firefox).

[2021-12-23 16:59] victorgarciaesgi commented on #64
Displaying correctly for me on Firefox and Edge. You maybe have a proxy or vpn that blocks it
![image](https://user-images.githubusercontent.com/15092120/147271046-dcc3b011-4cc2-4a31-a027-9d28f6a09fc2.png)

[2021-12-23 17:05] Llois41 commented on #64
![grafik](https://user-images.githubusercontent.com/37102755/147271596-7c8ff06d-752c-4efb-a928-4bdd274cf6f0.png)

This is what it looks for me. Don't have a proxy or vpn running, but it's not crucial. I got what I came here for :D

[2021-12-23 17:07] victorgarciaesgi commented on #64
You're looking at the raw version of the source of the docs website here that's normal :p

The site is here
https://vue-chart-3.netlify.app/

[2021-12-24 02:31] edwardz8 commented on #28
resolved. closing.

[2021-12-24 02:31] #28 closed

[2021-12-24 10:29] #64 closed

[2021-12-25 21:20] ivanjaros opened #68 "Dimensions need to use parseInt"
[code]

Sometimes the props are set directly in which case the chart needs to handle string as number on its own.

[2021-12-26 10:53] NeroN7F opened #69 "Chartjs-chart-matrix issue"
Hi. Tried to use library Chartjs-chart-matrix, but didn't managed to make it work along with vue chart 3.

[code]

[code]
[code]

[2021-12-26 10:59] victorgarciaesgi commented on #68
No need for parseInt. You can pass number in props just by doing `<LineChart :width='100'/>`

[2021-12-26 11:00] #68 closed

[2021-12-26 23:41] victorgarciaesgi commented on #69
Hi i'm going to need more info on the error you are getting, and you can make a reproduction link based on https://codesandbox.io/s/demo-vue-chart-3-ugynm

Just by your exemple it seems like you are putting `options` in the wrong place

[2021-12-27 10:41] ivanjaros commented on #68
i know i can, it does not mean i should be forced to use it when standard props do not require programmatic parameters.

[2021-12-27 11:47] NeroN7F commented on #69
https://codesandbox.io/embed/demo-vue-chart-3-forked-evpw0?fontsize=14&hidenavigation=1&theme=dark

[2021-12-27 21:43] victorgarciaesgi commented on #69
https://codesandbox.io/s/demo-vue-chart-3-forked-7ucdq?file=/src/App.vue just like i said for `options`

[2021-12-27 21:43] #69 closed

[2022-01-02 11:10] andreas83 opened #70 "Cannot find module cloneDeep while using nuxt3 and vue-chart-3"
## Describe the bug
i am not 100% sure if it's vue-chart-3 issue or nuxt,
but its clearly related to vue-chart-3 and its dependencies, because it only occurs while component (LineChart) is loaded.
This only affects the prod build not development

## To Reproduce
git clone https://github.com/andreas83/nuxt3-vue-chart-3

yarn install
yarn build
node .output/server/index.mjs
Visit page via Browser

*

[2022-01-02 12:33] TgMrP opened #71 "After build the style is broken"
## Describe the bug
When I work in a development environment it looks like this
![image](https://user-images.githubusercontent.com/66732007/147875802-ca1de4b9-4173-4754-998b-86b51336708d.png)

After build for production it looks like this
![image](https://user-images.githubusercontent.com/66732007/147875813-f09d6f4b-473c-4a5f-b804-249b2eaf99b3.png)

## To Reproduce

*Put a reproduction link here b

[2022-01-02 12:55] #71 closed

[2022-01-04 09:30] hisuwh commented on #47
@victorgarciaesgi upgraded to 2.0.3 and yes it seems I still have the same problem:
![image](https://user-images.githubusercontent.com/4470351/148038226-ccbaf4f4-423e-488f-91e1-9f3222937111.png)

[2022-01-04 21:12] victorgarciaesgi commented on #70
Hi thanks for the report! I will look into this when I have time.
Nuxt 3 is still in beta so there must be things that don't work well
Did you open an issue on nuxt repo as well?

[2022-01-05 12:41] andreas83 commented on #70
i think this issue is not related to vue-chart-3 anymore, since you are not responsible on how they generate the ".output/server/chunks/app/server.mjs"
i started a discussion at nuxt.js -> https://github.com/nuxt/framework/discussions/2582

[2022-01-05 16:20] germain-receeve commented on #33
Hey @victorgarciaesgi 👋
Thanks for creating this library, it's been a life saviour for us to migrate to Chart.js 3 on Vue 2.
Sadly, we also faced the same problem since we are using custom legends outside chart.js. We toggle the visibility of dataset using the hidden property and it is not reactive :(

Any chance you have some time to look into it ? 🙏

[2022-01-05 20:21] gregveres opened #72 "Cannot find module '@vue/runtime-dom' or its corresponding type declarations."
## Describe the bug
I have a Vue 2 project that I am trying to install vue-chart-3 into. I am using Typescript.
When I try to build, I get this error:
[code]
I looked up @vue/runtime-dom and it comes from Vue 3, so I was wondering if installing it was the right thing to do. It seems odd to have to install part of Vue 3 into a Vue 2 app. BTW, I am using the vue composition api plugin for Vue 2.

I

[2022-01-05 20:34] gregveres opened #73 "what does this v2.0.3 warning mean in the docs?"
## Describe the bug
In the docs, there is a warning:
`⚠️ Since 2.0.3 (for Vue 2 users), Vue composition api will not register itself. Update your project if you didn't do it manually!
`
What does that mean? In my main, I already register the composition api for my app:

[code]
@plugins/composition-api.ts is:
[code]
@plugins/chartjs.ts is:
[code]

But when I try to visit a page that has a chart on

[2022-01-05 20:37] gregveres commented on #73
Looking at the errors that follow the error I copied above, I see the very next error is this:
[code]
This happens after my axios request returns and we now have data to render in the chart.

[2022-01-05 23:20] gregveres commented on #73
This issue can be closed. It turned out that upgrading the vue-compsosition-api plugin fixed the issue. I was on v1.3.3 and I upgraded to the latest available at this time: v1.4.3.

[2022-01-05 23:20] #73 closed

[2022-01-05 23:22] gregveres commented on #72
I noticed that you are already using csstype in src/utils.ts. Should that be used in vue.types.ts?

[2022-01-06 00:11] victorgarciaesgi commented on #72
Hi @gregveres ! Thanks for the report.
That's strange because `@vue/runtime-dom` is not in the dependencies on the vue 2 version. (Check `vue2` branch)
Do you have `skipLibCheck: true` in your tsconfig.json ?

Sorry I don't have time to get my nose in the bugs for now so i'm just blind guessing

[2022-01-06 02:27] gregveres commented on #72
I think that’s the thing, it isn’t in the dependency list, which is why it not resolving.

The issue seems to be that this import is getting included in v2.

[2022-01-06 09:07] victorgarciaesgi commented on #72
Yeah I think it was a mistake if it was still in the source! I removed it you can try `2.0.4`!

[2022-01-06 14:50] gregveres commented on #72
Excellent. That fixed it. Thank you so much for taking the time out your busy schedule to get this addressed so quickly. This is a great improvement over vue-chartjs. Thank you for your effort on this!

[2022-01-06 14:50] #72 closed

[2022-01-06 15:30] BITRU commented on #33
Also have problem with legend : true when onClick used custom function.
I think that answer in chartjs doc https://www.chartjs.org/docs/latest/configuration/legend.html

If     ```
options: {
        plugins: {
            legend: {
                onClick: newLegendClickHandler...
[code]

[2022-01-06 15:41] victorgarciaesgi commented on #33
Hi all! Sorry for the lack of updates i try to be present as possible. I didn't know why it didn't update, the watcher corretly triggers when `hidden` is modified so I though that was on Chart.js side

[2022-01-06 16:20] victorgarciaesgi commented on #33
Great news guys, `3.0.5` released and I found the bug! :D

It was from me, it came from a piece of code I borrowed from `vue-chartjs`

https://github.com/victorgarciaesgi/vue-chart-3/commit/af4d6b31434cd80f0410aa1f139e34e5b0c9b1aa#diff-af796a020e973df5f3ef424841c9f55fdb45d09ffac0ca4715fc0692f257b2e3R122

[2022-01-06 16:21] germain-receeve commented on #33
Amazing, thank you so much!!

[2022-01-06 16:23] victorgarciaesgi commented on #33
Keep me updated! I'll wait for @dylan-george-field answer too before closing because I kind of abandonned him :(

[2022-01-06 16:31] germain-receeve commented on #33
Oh I just noticed that you only released it for `3.x`, can you also make the `2.0.5` available so I can try it out in our Vue 2 app? :)

[2022-01-06 16:32] victorgarciaesgi commented on #33
Oh yeah sorry, I will release it right now :)

[2022-01-06 16:35] victorgarciaesgi commented on #33
Done!

[2022-01-06 16:38] germain-receeve commented on #33
Just tried it out, works perfectly now with `2.0.5`.
Thanks once again and have a great evening! ✨

[2022-01-06 17:23] BITRU commented on #33
Wow, that was quick and assomme. Thank you so much!

[2022-01-06 18:13] LovelyAndy opened #74 "Documentation on plugin registery is a bit hard to understand."
## Describe the bug
*A clear and concise description of what the bug is.*
This isn't necessarily a bug, but rather a bit of confusion that comes up reading the documentation and comparing it with you examples.

In your codesandbox you use `Chart.register(...registerables)` and in the documentation about plugins you use `Chart.register(MatrixController, MatrixElement)`

I'm just not sure how I woul

[2022-01-06 19:20] victorgarciaesgi commented on #74
Hi! You're right it's a bit confusing. For the Matrix plugin exemple, it should look like this:
`Chart.register(MatrixController, MatrixElement, ...registrables)`

I will update the docs tomorrow

[2022-01-06 19:23] victorgarciaesgi commented on #74
Also you're not forced to use the composition api with this lib! It works with options and class api too. The only requirement is that `@vue/composition-api` needs to be registered in your app for `vue-chart-3` to work

Exemple with class api https://codesandbox.io/s/vue-chart-3-vue-2-class-api-f7gv1?from-embed

[2022-01-06 19:31] LovelyAndy commented on #74
Thank you for the quick response as always! I am using the composition API so I definitely want to get it working with it. I was just saying that maybe trying to use plugins with this library alongside Composition API is where I get a bit confused.
My Codesandbox shows my current progress and it's not actually working the way I have tried thus far. If you get a chance perhaps you can a take a look

[2022-01-07 01:31] ProjektGopher opened #75 "Including @vue/composition-api in peerDeps breaks installing on Vue3"
## Describe the bug
v3.0.5 has @vue/composition-api as a peer dependency, which itself has a dependency on Vue < 3. This creates unresolvable dependencies when installing with vue3 which weren't present in v3.0.2

## To Reproduce
[code]

## Version of `vue-chart-3`
- [x] *v3.0.5*
- [ ] *v3.0.2*

## Version of Vue

- [x] Vue 3
- [ ] Vue 2

[2022-01-07 01:32] ProjektGopher commented on #75
I haven't made a pr for this, as looking through git blame history it appears this was added as part of a bugfix for another issue.

[2022-01-07 09:49] victorgarciaesgi commented on #75
Hi! Yeah i don't know why it was included, removing it and publishing :)

[2022-01-07 09:59] victorgarciaesgi commented on #75
done in `3.0.6`

[2022-01-07 17:44] LovelyAndy commented on #74
So, I got a very rough version fixed, but I think this is kind of sloppy implementation. Right now it's registered globally and therefore the middle value will ALWAYS show on all chart types.
https://codesandbox.io/s/responsive-chart-font-gk28n?file=/src/components/Chart2.vue

In my own project which uses ts properly, I had to do a check inside of the plugin like this:
[code]
 I really am not sure

[2022-01-07 18:07] LovelyAndy opened #76 "Not able to remove events without ts errors. Hover in this example."
## Describe the bug
*A clear and concise description of what the bug is.*
I'm sure you're getting sick of me already, but I'm having trouble removing events like hover within your library without type errors.
It all works, but the index file does not have that defined.
![image](https://user-images.githubusercontent.com/68723584/148587039-62c5bbf9-c2a5-4d9b-90ba-5fa93091eb1f.png)
This works inside

[2022-01-07 20:03] SharpSeeEr commented on #75
Having this same issue.  npm still shows 3.0.5 as the latest version.  Maybe I'm just jumping the gun and the update hasn't been pushed just yet?

[2022-01-07 21:55] victorgarciaesgi commented on #75
@SharpSeeEr oh yeah I think i messed up, doing it tomorrow sorry i can't tonight

[2022-01-08 02:03] victorgarciaesgi commented on #75
Fixed!

[2022-01-08 16:26] victorgarciaesgi commented on #75
`3.0.7` sorry still wasn't there :(

[2022-01-08 16:35] victorgarciaesgi commented on #76
This types of errors is not from `vue-chart-3` but from Chart.js itself. This lib is just an adapter to use easily Chart.js in a Vue app with pre-made components. The `events` types from Chart.js source doesn't include `hover`, you need to check more what shape does the `ChartOptions` type have!

[2022-01-08 16:35] victorgarciaesgi commented on #76
You put `hover` in the wrong place. It should look like this:

[code]

[2022-01-08 22:07] LovelyAndy commented on #76
Ahhh sorry, I figured it was some issue with the `computed<ChartOptions<'bar'>>` syntax from the composition API.

But still, when I try what you've written, I still get an error.
![image](https://user-images.githubusercontent.com/68723584/148661108-2bdc0174-63cc-45cd-9407-e2930c9796b9.png)

![image](https://user-images.githubusercontent.com/68723584/148661100-a0945d07-cce4-47ba-8cb2-de578003035e.

[2022-01-08 23:02] BITRU opened #78 "LineChar Labels not reactive"
## Describe the bug

## Version of `vue-chart-3`
 v2.0.5

## Version of Vue
- [ ] Vue 2

I have a Line chat that get data from vuex getter.
Labels - line under chart with time.
If show today it show only labels awalable today.
If I select previous date with all time labes avalable, chat data updated, however label stay the same as from today.
But when I disable/enable label (NOT LEBELS, just data

[2022-01-09 17:51] SharpSeeEr commented on #75
No worries on the time thing!  Fixed and published within 2 days is still something that I believe is above what would be considered a fast response!  Thanks for all your effort!

[2022-01-11 18:04] wopian opened #79 "Pinned @vue/runtime-core and @vue/runtime-dom causes version mismatch of core Vue 3 packages"
## Describe the bug

https://github.com/victorgarciaesgi/vue-chart-3/commit/af4d6b31434cd80f0410aa1f139e34e5b0c9b1aa changed the version resolution of `@vue/runtime-core` and `@vue/runtime-dom` from `latest` to an exact pin on `3.2.26` for both of these. If a consumer is using an older or newer version of Vue 3 (e.g `3.2.25` or `3.3.x`), then they will have two versions of these core packages bund

[2022-01-12 21:58] victorgarciaesgi commented on #79
Hi @wopian ! It's fixed in `3.0.8` :)

[2022-01-13 15:41] #79 closed

[2022-01-14 14:48] NicoP-S opened #80 "xAxes ticks not updated after new data"
## Describe the bug

Start: two day range hourly = 48 data elements & labels  -> everything OK
![image](https://user-images.githubusercontent.com/8988747/149532434-0740e3a9-4b55-425d-a852-f783664438b3.png)

Switching to day basis = two data elements and two labels.
The data is updated but the chart xAxes does not. I tried `this.$refs.chart.chartInstance.update()` but nothing changed
I thought the

[2022-01-19 21:15] mgregory73 commented on #80
I am experiencing the same issue with the labels not reflecting the data after a change. Seems if you interact with the chart (i.e., selecting a bar) it  corrects, so maybe it's a nextTick thing. Anyhow, reverting to 0.5.11 fixes it for now. That said, this project is great and a real life saver. Looking forward to a fix. Thanks so much and keep up the great work.

[2022-01-20 10:43] augnustin commented on #60
Hello,

Is there any way to remove the warning once taken in account?

Thanks

[2022-01-20 22:47] sbourouis opened #81 "Vulnerability: Upgrade nanoid to version 3.1.31 or higher."
## Describe the bug
Snyk detected a vulnerability in the latest version (3.0.7) of vue-chart-3. More details here: https://security.snyk.io/vuln/SNYK-JS-NANOID-2332193

## To Reproduce

Run vulnerability check using Snyk

## Version of `vue-chart-3`
*v3.0.7

## Version of Vue

- [x] Vue 3
- [ ] Vue 2
- [ ] Nuxt 2
- [ ] Nuxt 3

[2022-01-21 21:50] victorgarciaesgi commented on #81
Thanks for the PR! I will merge it :)

[2022-01-21 21:52] #81 closed

[2022-01-21 21:53] victorgarciaesgi commented on #80
Hi! Sorry for the late reply I don't have much time to look into this. If I find a little spot i swear to look at it! :D If you want to make it easier can you make a codesanbox with your bug? :D

[2022-01-21 21:54] #75 closed

[2022-01-22 19:10] Martijn097 opened #83 "How to create a background color gradient"
Hello, thanks for this package!

I was wondering if you guys could help me create a gradient background color on a chart. I have not seen an issue with this yet.

Right now it does console log the canvas ref and it does console log the canvasgradient but Im not really sure what Im doing wrong here.

[code]
![36035c2cb589a23708d6b7427b7bffef](https://user-images.githubusercontent.com/31434172/15065

[2022-01-24 14:13] victorgarciaesgi commented on #78
Can you make a codesandbox repro of your bug so I can look at it? :)

[2022-01-24 15:11] chiptu opened #87 "Reactive chart on watch event"
Hey , Thanks a lot for your package .

## The problem
Concisely i would like to know how to refresh the chartInstance data with an on watch event for example.

I noticed in the [doc](https://vue-chart-3.netlify.app/guide/usage/dynamic-data.html) that you update data with a function in the setup function.

In the [ChartJs documentation](https://www.chartjs.org/docs/3.5.0/developers/updates.html) it

[2022-01-25 09:48] Martijn097 commented on #83
Fixed it.

All you gotta do is add .value.

const gradient = ref('red')

onMounted(() => {
  const canvas = lineRef.value.canvasRef;
  gradient.value = canvas.getContext('2d').createLinearGradient(0, 0, 0, 400);
  gradient.value.addColorStop(0, 'rgba(255, 0,0, 0.9)')
  gradient.value.addColorStop(0.5, 'rgba(255, 0, 0, 0.5)');
  gradient.value.addColorStop(1, 'rgba(255, 0, 0, 0)');
 })

 const test

[2022-01-25 20:49] yaron-shamul opened #88 "no data section in chart-instance documentation"
hi, very nice project but I'm having a lot of troubles with the docs
[in this page](https://vue-chart-3.netlify.app/guide/usage/chart-instance.html) you did not mentioned what data to use for running the chart

[2022-01-25 22:50] victorgarciaesgi commented on #88
Hi, that's because this page is not about data but template refs and accessing chartInstance, so data would'nt change a thing here.

There are exemples with data (here Vue 3) on the docs https://vue-chart-3.netlify.app/guide/examples/vue3.html

[2022-01-25 22:55] victorgarciaesgi commented on #87
You need to make your `testData` reactive by using `computed` if your are using Composition Api. In your exemple you are using the two syntax so that's wrong.
Use either one and testData needs to be reactive

[2022-01-25 22:55] #87 closed

[2022-01-26 07:20] yaron-shamul commented on #88
I would like to see how to use this package in video, it might be an amazing idea to make some youtube video of how-to-use.
btw I saw this example before, I think it's good,  but I do prefer using js and not ts so it's another thing I think you can do better with the doc :)

[2022-01-26 09:31] victorgarciaesgi commented on #88
Please look better at the docs. There is 2 full exemples using just js and not TS.
https://vue-chart-3.netlify.app/guide/examples/vue2-composition.html
https://vue-chart-3.netlify.app/guide/examples/nuxt2.html

[2022-01-26 09:31] #88 closed

[2022-01-26 10:47] yaron-shamul commented on #88
I saw it, it is using vue2, also wanting some more examples.
fyi i used [this helpful example](https://www.youtube.com/watch?v=zSaaZ-TP2tc&t=3s) to create my charts finally.

[2022-01-26 16:47] chiptu commented on #87
Thanks a lot i wasn't used to new syntax and misunderstand few things !

[2022-01-27 18:18] lsnow99 opened #89 "Tree shaking chart.js"
## Describe the bug
Having trouble getting tree-shaking to work with Chart.js and vue-chart-3

## To Reproduce
In my main.js:
[code]

I am getting this result when I analyze my vendor bundle:
![image](https://user-images.githubusercontent.com/4197432/151419639-afa94456-ddd1-4f6e-96d2-e7d53ab32bd8.png)

In vue-chart-3/dist/components.js I see this (line 7 for me):
`const chart_js_1 = require("chart

[2022-01-27 18:40] lsnow99 commented on #89
Looking into it more, it may be that my visualizer tool does not have great support for treeshaking: https://github.com/btd/rollup-plugin-visualizer/issues/96

[2022-01-27 18:40] #89 closed

[2022-01-28 08:52] rezaneam opened #90 "Adding labels on the chart"
Thanks for the next job done.
I wondering is there any way to drop the labels on the chart?
I am something like this demo https://emn178.github.io/chartjs-plugin-labels/samples/demo/

[2022-01-28 10:59] victorgarciaesgi commented on #90
Hi! This is a chart.js related issue, `vue-chart-3` is just an adapter for Vue

[2022-01-28 10:59] #90 closed

[2022-01-28 17:35] mgregory73 commented on #80
Hi Victor,

Again many thanks for the work you've done here.

I don't know if this helps you but the change that causes the labels not to update happens in fix #33,
https://github.com/victorgarciaesgi/vue-chart-3/commit/b3b6769c7027493bd0fb7e4b10cee5c0f56888a2#

Specifically, replacing `renderChart()` at line 151/142 of components.ts with  `chart.data.datasets = newData.datasets` seems to be relat

[2022-02-01 13:11] robert-jf-close opened #91 "Vue 3 sandbox demo shows error"
## Describe the bug
The sandbox demo for vue 3 has the following error:
`SyntaxError
Cannot use import statement outside a module
H
https://codesandbox.io/static/js/sandbox.bc9bc6db0.js:1:99953
K.evaluate
https://codesandbox.io/static/js/sandbox.bc9bc6db0.js:1:112619
ge.evaluateTranspiledModule
https://codesandbox.io/static/js/sandbox.bc9bc6db0.js:1:123001
c
https://codesandbox.io/static/js/sandbo

[2022-02-01 13:17] victorgarciaesgi commented on #91
It should be fixed! Dependency bug :p

[2022-02-01 22:38] MisteFr commented on #59
Hello,

It would be great if you could send an update on this one, I am trying to make a MixedChart too but I can't get this working.
The codesandbox sent in #26 doesn't exist anymore.

Thanks!

[2022-02-03 14:22] NicoP-S commented on #80
Hi,
i tried to create a repo which shows the error but did't get it replicated.
I checked the changes of commit https://github.com/victorgarciaesgi/vue-chart-3/commit/b3b6769c7027493bd0fb7e4b10cee5c0f56888a2 and tried to undo them in my code.

After replacing https://github.com/victorgarciaesgi/vue-chart-3/blob/af4d6b31434cd80f0410aa1f139e34e5b0c9b1aa/src/components.ts#L133  with the following cod

[2022-02-03 14:57] NicoP-S commented on #80
@victorgarciaesgi  i got an running codesandbox now
https://codesandbox.io/s/vue-chart-3-vue-2-composition-api-forked-4mf88?file=/src/App.vue

[2022-02-03 15:00] hisuwh commented on #47
@victorgarciaesgi any more guidance on this?

[2022-02-03 15:46] victorgarciaesgi commented on #47
I will look at it. It's really strange because the error only shows in the cli on the on the IDE

[2022-02-03 22:29] jacekkarczmarczyk opened #92 "Vite + VueCompositionApi error (again)"
## Describe the bug

[code]

[code]

![image](https://user-images.githubusercontent.com/15625235/152439268-e131b04d-b43d-4f4d-9c4c-eec9343056d0.png)

## To Reproduce

https://github.com/jacekkarczmarczyk/vite-vue-chart-3-bug

run `yarn && yarn dev`, see the console

Nothing fancy in the code:

[code]

[code]

## Versions

vue-chart-3@2.0.6
vue@2.6.14
@vue/composition-api@1.4.4
vite@2.7.13

Code wo

[2022-02-03 22:39] #91 closed

[2022-02-04 08:04] jacekkarczmarczyk commented on #92
Additional info gathered on vite discord by @LinusBorg

![image](https://user-images.githubusercontent.com/15625235/152493262-2f6d87c4-e81c-4f81-b2ab-f368637fc83e.png)

[2022-02-04 09:39] victorgarciaesgi commented on #92
Hi! Yeah i'm aware of this problem with Vite and I was already working on an esm build in the `next` branch. I will publish a alpha release if you want to try it? I will test it on your repo :)

[2022-02-04 09:48] jacekkarczmarczyk commented on #92
Sure, I'll also check on my actual repo when you release the alpha, thanks!

[2022-02-04 10:54] victorgarciaesgi commented on #92
You can try `2.1.0-alpha-5`. I tested in your repo and it works. I need to test if it still works with vue-cli and webpack

[2022-02-04 11:41] jacekkarczmarczyk commented on #92
I'm currently transitioning from vue cli to vite so I have both versions available and checked both of them. In vite version it looks fine, but with vue cli now I'm having the error from the issue description

[2022-02-04 12:56] victorgarciaesgi commented on #92
Humm I just tested with a fresh vue-cli :( i'll try on sandbox

[2022-02-04 13:02] victorgarciaesgi commented on #92
Ok it's a recurring problem. What is your version of `@vue/composition-api`? Updating it to `1.4.5` fixed the bug for me on https://codesandbox.io/s/vue-chart-3-vue-2-composition-api-forked-zken4?file=/src/main.js

[2022-02-04 15:28] jacekkarczmarczyk commented on #92
Yeah upgrading composition to 1.4.5 worked on vue cli. I'll be doing more tests of my app after transitioning to vite, but for now charts issue was the last one I was aware of. Thanks!

[2022-02-11 06:17] fan9704 opened #96 "Can,t use same dataset in different Chart"
## Describe the bug

Can click this link to visit my site which use Vue-Chart-3
[Click Here](https://certification-frontend.vercel.app/#/graph)
I use same data in different Chart but just doughnutChart have correct labels but other Chart didn,t have
and other Chart cannot v-bind with other ChartProps
or i use wrong method to do that?

## Version of `vue-chart-3`
*v3.0.4*

## Version of Vue

- [x]

[2022-02-11 14:04] victorgarciaesgi commented on #96
Structure of datasets can change between differents Charts. If you're using Typescript, you can type like this to know if the structure is valid.
Look at the docs in chart.js otherwise

[code]

[2022-02-12 08:22] fan9704 commented on #96
But if i bind correct ChartProps it won,t appear Chart in Document(I use JS not TS)
This is my code can you tell me where i need to fix it
Thank You!

[code]

[code]

[2022-02-14 19:51] mehmetalianil opened #97 "Disabled parsing option result in lost reactivity?"
## Describe the bug

When parsing options is false, the charts do not render reactively to data.
I have a rather large data and LineChart becomes very bogged down and slow unless these are disabled.
There isn't a manual way to update() the chart. (As far as I could find)

## To Reproduce

I am not well versed with frontend development, with apologies, I would like to share the options that I wante

[2022-02-15 12:12] victorgarciaesgi commented on #92
@jacekkarczmarczyk Version 3.1.0 with full support for Vite.js just released :D

[2022-02-15 12:27] jacekkarczmarczyk commented on #92
Thanks!

[2022-02-15 12:27] #92 closed

[2022-02-15 16:07] victorgarciaesgi commented on #97
Hmm I don't think this option is causing this on vue-chart-3 side. Those option are disabled when big array of data is used to avoid performance issues. But it should still watch the changes. There is an `update` option. With template ref you have access to the ChartInstance and you can trigger it yourself :)

https://vue-chart-3.netlify.app/guide/usage/chart-instance.html

[2022-02-15 16:07] victorgarciaesgi commented on #97
If you can recreate your issue in a CodeSandbox, I could investigate :)

[2022-02-15 16:10] victorgarciaesgi commented on #96
[code]

Here it's wrong
it's

[code]

[2022-02-15 16:10] #96 closed

[2022-02-15 16:13] victorgarciaesgi commented on #80
Sorry for responding just now. I will fix it!

[2022-02-15 16:18] victorgarciaesgi commented on #78
Looks a lot like #80 , I just published a fix for this issue on `v2.1.1`, tell me if this fixes it for you :)

[2022-02-15 16:20] victorgarciaesgi commented on #70
Just released `v3.1.0` with Vite and Nuxt 3 support and an ESM build :) Tell me if this fixes it for you!

[2022-02-15 16:33] gregveres commented on #78
I just tried it and it did not fix the issue. Sorry.

[code]

For now I am going with a changing :key on the BarChart to get Vue to recreate the chart each time the data changes.

[2022-02-15 16:44] andreas83 commented on #70
thanks @victorgarciaesgi  !!!
for me it works now :+1:

but why did it break in the first place?

since i have now the same issue with another lib import

`
import debounce from "lodash/debounce";
`

[2022-02-15 18:07] victorgarciaesgi commented on #70
I replaced lodash with lodash-es. There where other additional steps to make it compatible with esm too :)

[2022-02-15 18:10] victorgarciaesgi commented on #78
So it was not related, i will try to fix it when I have time :)

[2022-02-16 06:25] s-sasaki-0529 opened #99 "Not working with Vue 2 and Webpack 5"
## Describe the bug

Thanks for the nice package to use Chart.js 3 with Vue 3!
I would like to use this to simplify my migration from Vue 2 to 3.

but when using `vue-chart-3@legacy` with webpack, I get the following error.

[code]

## To Reproduce

Please see the following repository (sorry, I couldn't reproduce this in codesandbox)
https://github.com/s-sasaki-0529/reproduce-vue-chart-3-issue

##

[2022-02-16 10:09] victorgarciaesgi commented on #99
Hmm it should be working with webpack too. I will look at your repo.

In this codesandbox there is no problem
https://codesandbox.io/s/vue-chart-3-vue-2-mw54f?file=/src/App.vue

[2022-02-16 10:12] victorgarciaesgi commented on #99
And if you're in webpack, it's not normal to have an error in the `mjs` file
`ERROR in ./node_modules/vue-chart-3/dist/index.mjs`. This file is for ESM bundlers only, webpack must use `index.js` commonjs build.

[2022-02-16 11:32] victorgarciaesgi commented on #99
Can confirm, you have missing webpack configuration. I  strongely advise you to use `vue-cli` for all your Vue 2 project as it ships with the correct configuration and avoid those errors

[2022-02-16 16:56] s-sasaki-0529 commented on #99
Thanks for the advice. However, we can't use vue-cli in our product because we use webpack directly.

**I found out that my repository uses webpack v5 and vue-cli uses webpack v4.**

This package uses the exports field in [pakcage.json](https://github.com/victorgarciaesgi/vue-chart-3/blob/013cc4e53e0a1a1afed7910d0ad8e26585669f13/package.json#L17-L22), but webpack will not use it until v5. ([refs](

[2022-02-16 17:07] jclaessens97 opened #100 "Require() of ES Module ... error when importing Doughnut chart"
## Describe the bug

I'm trying to use a Dougnut chart in Nuxt Bridge, so I'm following the examples from Nuxt 2 + SSR + composition-api (without importing composition-api since it should be in Nuxt Bridge already(?).

However as soon as I import DoughnutChart from `vue-chart-3` I'm getting hit with a `require() of ES Module ...` error from `lodash-es` which is a dependency of `@vue/composition-ap

[2022-02-16 17:10] victorgarciaesgi commented on #99
I'm just curious in the reason to use vanilla Vue directly because vue-cli lets you customize the webpack config as well

[2022-02-16 17:17] victorgarciaesgi commented on #99
Try `v2.1.2`

[2022-02-16 22:28] mirkopoloni commented on #100
Hey @jclaessens97, adding these lines to the nuxt.config and restarting the sandbox server should solve the problem:
[code]

[2022-02-17 08:31] jclaessens97 commented on #100
Thanks @mirkopoloni ! Missed that part of the nuxt docs completely 😄

[2022-02-17 08:31] #100 closed

[2022-02-17 11:08] s-sasaki-0529 commented on #99
Thank you very much for your reply. I'm looking forward to v2.1.2!

Well... It's an old project, so I don't know, but I think it's because it's very customisable and we can use the latest tools. (eg. webpack 5)

[2022-02-17 13:18] fan9704 commented on #96
Ok Thanks @victorgarciaesgi  but its still has another problem other Chart label cannot display correctly they all display label "undefined" beside doughtnutChart!

[2022-02-17 15:16] mehmetalianil commented on #97
I think the issue was about passing parsing: false with a dataset that is not parsed.
Then the chart is not visible, probably due to chart.js not being able to do its thing, but it fails silently.

[2022-02-17 15:16] #97 closed

[2022-02-17 15:25] victorgarciaesgi commented on #100
Thanks @mirkopoloni I forgot about this Nuxt option. I will add it to the docs

[2022-02-20 22:23] gkarwchan opened #102 "Overriding peer dependency @vue/runtime-core@"> 3""
## Error: Overriding peer dependency @vue/runtime-core@"> 3"

Cannot install on newly created Vue-3 App created by Vue-cli

## To Reproduce

1. From the Vue-cli (@vue/cli version 4.5.13) create a new application
   Choose the following:
       1. Vue version 3
       2. Vuex
       3. Sass

2. install vuetify: npm i vuetify@3.0.0-alpha.0

3. Then install vue-chart-3
`npm i vue-chart-3`

You will g

[2022-02-21 15:52] victorgarciaesgi commented on #102
That's strange! I will look at it

[2022-02-21 19:13] tamasfe commented on #32
For anyone else stumbling upon this issue, it's due to a version mismatch as this library depends on `@vue/runtime-core` and `@vue/runtime-dom` but does not directly depend on `vue` itself.

Whereas in an application project, one usually just depends on `vue`, and it will pull its own versions of `@vue/runtime-core` and `@vue/runtime-dom` effectively duplicating these dependencies with different v

[2022-02-22 14:17] victorgarciaesgi commented on #102
Can you try `3.1.1` ? :)

[2022-02-22 14:18] victorgarciaesgi commented on #32
@tamasfe I just updated the peer deps in `3.1.1`. It seems to not only be related to `vite` since vue-cli has the error too (#102 ). Tell me if it works :)

[2022-02-22 15:36] tamasfe commented on #32
Unfortunately I can't check for the same project I mentioned as it changed a lot since then.

But it seems to work with a fresh vite template!

[2022-02-22 15:41] NicoP-S commented on #80
i updated to latest @vue/composition-api 1.4.6... but the error is still there

[2022-02-22 15:49] victorgarciaesgi commented on #60
@augnustin The warning should be removed in the new version :)

[2022-02-22 15:51] victorgarciaesgi commented on #80
Hmm try cleaning node_modules and cache, it's not the first down this error emerges for me and others, and the fix was always to update the `@vue/composition-api` version or remove/reinstall :/

[2022-02-22 20:11] sQuarecoW opened #103 "Unexpected token in pascalcase dependency"
## Describe the bug
Vue crashes:

[code]

# Remember, `vue-chart-3` is only an *adapter* to use `chart.js` with Vue easily. So any `chart.js` related issue or question will be dismissed

## To Reproduce

- `npm i  vue-chart-3`
- use the example found here: https://vue-chart-3.netlify.app/guide/usage/dynamic-data.html (minus the shuffle)
- vue crashes

[code]

## Version of `vue-chart-3`
v3.1.1

##

[2022-02-22 20:29] victorgarciaesgi commented on #103
Hey! Sorry it was a mistake to update it in the previous build, should be fixed on `3.1.2`!

[2022-02-22 23:19] gkarwchan commented on #102
Yes that worked
Thanks

[2022-02-23 08:31] sQuarecoW commented on #103
Tnx for the quick reply and solution!

[2022-02-23 08:31] #103 closed

[2022-02-23 09:05] NicoP-S commented on #80
Ok after delete package-lock.json it is running again. But the graph is still not correct.

I updated my codesandbox too:
https://codesandbox.io/s/vue-chart-3-vue-2-composition-api-forked-4mf88?file=/src/main.js

[2022-02-23 16:22] #102 closed

[2022-02-23 16:22] #99 closed

[2022-02-23 16:23] victorgarciaesgi commented on #80
Thanks for the sandbox! I will look at it :)

[2022-03-03 04:06] aentwist opened #104 "docs: add chart.js peer dependency"
Currently, the [documentation](https://vue-chart-3.netlify.app/guide/#introduction) does not detail that `chart.js` is a peer dependency.

[2022-03-03 04:24] aentwist commented on #104
So I see this now,

[code]

It isn't at the top of the Installation section so it is a bit confusing. Feel free to close this.

[2022-03-03 09:01] victorgarciaesgi commented on #104
Hi! What was the problem? You find that it's not clear that it uses Chart.js behind?

[2022-03-04 03:21] aentwist commented on #104
Yeah I couldn't tell I needed to run `npm install vue-chart-3 chart.js` at first.. just got slightly confused

[2022-03-05 15:35] victorgarciaesgi commented on #59
@MisteFr Sorry I didn't see your question. Basically it's really simple.
[code]

I will make a section in the docs, and see if I can work on a `MixedData` utils type

[2022-03-08 08:27] aguegu commented on #58
Thanks, @nielsvanrijn . Just save my day.

[2022-03-08 09:06] victorgarciaesgi commented on #58
It's weird that you have this problem. Can't reproduce it :/
https://codesandbox.io/s/demo-vue-chart-3-ugynm?file=/src/App.vue

[2022-03-08 09:19] victorgarciaesgi commented on #58
Okay, still seems to be a bug on that. Investigating to see where it comes from

[2022-03-08 09:57] victorgarciaesgi commented on #58
Yup it's was a good bug. All `datasets` mutation are now tracked and animated acordingly. Sorry to fix this so late!
You can test it on `3.1.3`

[2022-03-09 02:10] aguegu commented on #58
Thanks @victorgarciaesgi for the fix. It works now. I can do data.push() with 3.1.3.

I have taken a look at the patch. If cloneDeep is the cure, would it be an overkill? Look like it would impact the performance.

[2022-03-09 02:31] aguegu opened #108 "3.1.3 dataset.data reload when doing push()"
## Describe the bug

https://user-images.githubusercontent.com/1559791/157365285-cc9982cc-eda4-4650-942d-c0e83286d591.mp4

As shown in the video, each data.push() action would trigger a full reload by the animation.

3.1.3 is related to #58 , I think the cause of this problem is the cloneDeep() of data array. So each update/render is a full reload in 3.1.3

## To Reproduce

*Put a reproduction lin

[2022-03-09 02:41] aguegu commented on #108
In 3.1.2, the animation only applied to the newly pushed data.

https://user-images.githubusercontent.com/1559791/157362149-d59ccbc7-7172-40e1-8794-86768d604937.mp4

[2022-03-09 09:05] victorgarciaesgi commented on #108
I thanks for the report, looks like a rushed a little on this update. I will look at it. cloneDeep happens only if the size of the array haven't changed (Chart.js using Proxies too, I think that's was what causing the bug)

[2022-03-09 09:06] victorgarciaesgi commented on #108
Do you reproduce it on the demo ? https://codesandbox.io/s/demo-vue-chart-3-ugynm?file=/src/App.vue

[2022-03-09 15:50] aguegu commented on #108
To reproduce it is not hard. Just create a `line` chart with options
[code]
and push data point to it
[code]
within a `setInterval()` callback.

Hope it would help.

[2022-03-11 03:38] scil opened #109 "error with demo Vue 2 + composition API"
## Describe the bug
I follow this demo
Vue 2 + composition API: [CodeSandbox demo Vue 2 + composition](https://codesandbox.io/s/vue-chart-3-vue-2-mw54f?file=/src/App.vue)

got error like `ERROR Error: "linear" is not a registered scale`

[2022-03-11 03:38] scil commented on #109
## how to fix

same error: https://github.com/sgratzl/chartjs-chart-wordcloud/issues/4

    chart.js 3 is ESM tree shakeable and requires to register all components that you are going to use. Thus, you have to register the linear scale manually

so add this line

[code]

[2022-03-11 07:31] scil commented on #109
And plugin zoom is also needed.

[code]

[code]

[2022-03-13 08:56] GijsGoudzwaard commented on #108
I have the same issue with both a line chart and bar chart. I'm using vue-chart-3 `3.1.4` and vue `3.2.31`. For now downgrading to `3.0.9` fixes it (`npm i vue-chart-3@3.0.9`)

[2022-03-14 09:17] #109 closed

[2022-03-14 09:18] victorgarciaesgi commented on #108
Yeah, it seems like the fix I added broke the animations. I need to take a time but this week it's going to be hard

[2022-03-17 09:55] JEK58 opened #113 "Wrapper crashes if chartData is updated"
## Describe the bug
The wrapper crashes if the reactive chartData is updated.
This does not happen without the wrapper using only chart.js

## To Reproduce

I'm using datasets in this format because of time axis.

[code]

If I add something to the data array the wrapper crashes.

[code]

<img width="622" alt="Screenshot 2022-03-17 at 10 52 21" src="https://user-images.githubusercontent.com/3519448

[2022-03-20 20:02] fran6brg opened #114 "[ERR_REQUIRE_ESM]: require() of ES Module [...]/node_modules/vue-chart-3/dist/index.cjs not supported"
## Describe the bug
Hi,

Using https://github.com/antfu/vitesse, and running pnpm build

[code]

## Version of `vue-chart-3`
"vue-chart-3": "^3.1.4"

## Version of Vue

- [x] Vue 3
- [ ] Vue 2
- [ ] Nuxt 2
- [ ] Nuxt 3

[2022-03-21 13:05] victorgarciaesgi commented on #113
Looking at it! Is the bug also present on `3.1.4`?

[2022-03-21 13:28] victorgarciaesgi commented on #108
Guys I'm so sorry. I just found out that when using `deep: true` using `watch` in Vue 3, the oldValue and newValue will be the same....
That's what messed with all the animations and updates

![image](https://user-images.githubusercontent.com/15092120/159270582-3fc9332f-a06e-4fe6-862a-731f275ccba0.png)

[2022-03-21 13:31] victorgarciaesgi commented on #108
Currently finding out a way to compare new and old values

[2022-03-21 14:30] JEK58 commented on #113
Thank you.
My bad, I mistyped the version. I'm actually on 3.1.4. So yes it's also present there.

[2022-03-21 14:51] victorgarciaesgi commented on #108
Should be fixed in `3.1.5`. Sorry again

[2022-03-21 14:51] victorgarciaesgi commented on #113
You can test `3.1.5` it should be fixed

[2022-03-21 14:53] #104 closed

[2022-03-21 14:54] victorgarciaesgi commented on #80
It should be the same issue as #108 in Vue 3. I will look at it

[2022-03-21 18:32] GijsGoudzwaard commented on #108
No worries, can confirm that this is fixed in `3.1.5`

[2022-03-21 18:39] sametsafak commented on #58
Hi Victor,

Thank you for creating this wrapper, it helped me a lot!

I also had this bug and due to our infrastructure I spent 20 hours to find it because it only appeared in bundled version of our app. And bundling/deployment takes years... I couldn't see this error in my local even the bundled version. I guess it's related npm cache or something else (after removing node_modules folder, I was a

[2022-03-21 19:36] victorgarciaesgi commented on #58
Hi @sametsafak and sorry for your wasted time :(
I completely screwed up the implementation of the datasets watcher so it was bugued between `3.1.1` and `3.1.4`.

It should be fixed on `3.1.6` and you can track it on #108

I updated the sandbox as well https://codesandbox.io/s/demo-vue-chart-3-ugynm?file=/src/App.vue

I should add tests to ensure reactive behaviours are not breaking but I lack tim

[2022-03-22 11:35] sametsafak commented on #58
Hi @victorgarciaesgi no problem, I can understand time issues you have.

I tried also 3.1.6 but it seems that x axis not working well when I update data. Here is my simple example:

[code]

When you remove the commented lines, at first it's looking nice, after setTimeout, it shows one flat vertical line somehow.

Also I can't define handledChartData to null, it directly throws an error.

[2022-03-22 13:25] victorgarciaesgi commented on #58
Thanks for the exemple, I will try to reproduce it to investigate the problem :)

[2022-03-22 18:50] NicoP-S commented on #80
@victorgarciaesgi is the fix from issue 108 also working for vue2?

[2022-03-23 13:30] victorgarciaesgi commented on #80
Hum no sorry i overlooked, #108 was a Vue 3 problem, but it should be related, the fix should be the same

[2022-03-23 20:21] joecampo commented on #113
Hey there @victorgarciaesgi, first thanks for building & maintaining this!

I'm dealing with something I think that may be similar to this issue so I didn't open another.

Since 3.1.4 you can no longer pass null chart-data as a prop. That's fine, but specifically for the LineChart component you can't dynamically set data. All the other chart types I've tried (Pie, Radar, Bar etc.) all work fine.

[2022-03-24 05:29] benaustin2000 commented on #113
Found the same issue on 3.1.6, backto 3.1.0,work fine.

[2022-03-24 09:30] #108 closed

[2022-03-24 09:31] victorgarciaesgi commented on #78
Should be the same bug as Vue 3 #108 , i will publish a fix soon @gregveres @BITRU

[2022-03-24 09:32] #70 closed

[2022-03-24 09:32] #33 closed

[2022-03-24 10:02] victorgarciaesgi commented on #113
`v3.1.7` Should fix @joecampo problem and @JEK58 bug too! Keep me updated

[2022-03-24 10:16] joecampo commented on #113
@victorgarciaesgi This fixes it! Thanks so much to tackling this so quickly.

[2022-03-24 15:31] victorgarciaesgi commented on #80
Should be fixed in `2.1.3`!

[2022-03-24 15:31] victorgarciaesgi commented on #78
Fixed in `2.1.3` !

[2022-03-24 15:32] victorgarciaesgi commented on #78
Sorry for the wait

[2022-03-25 04:35] benaustin2000 commented on #113
v3.1.8 found bugs. The datasets is not reactive when I clear the datasets.No matter what I tried, using this.datasets.length=0; or this.datasets=[]; or this.datasets.splice(0);
And backto 3.1.0 still works.

[2022-03-26 16:13] gregveres commented on #78
Thank you. I will upgrade and try it out after I get this current feature finished.

[2022-03-27 19:19] gregveres commented on #78
It's is behaving differently now. Actually, I guess I can say that this issue is fixed, but the fix introduced a new issue that is very much related.

Here is the code I am using:
[code]
graph is BarChart from 'vue-chart-3'

Here is the first graph. This is has 5 datasets and 31 labels:
![image](https://user-images.githubusercontent.com/12899823/160296880-b4f6f711-250e-4704-999d-465ff8f282a4.png)

[2022-03-27 19:28] gregveres commented on #78
Looking at the data further, it seems like it is only keeping in one of the original 5 datasets, the one called Available from the first 5 datasets and then when I swap out the 5 datasets for a new set of 4 datasets, it keeps "Available" from the first set of datasets and adds that to the new 4 datasets.

Ah, here is an idea of what might be happening...
I tried something else. I made sure that th

[2022-03-28 12:57] victorgarciaesgi commented on #78
@gregveres Thanks for the detailled feedback! I will look further into the problem with your dataset

[2022-03-31 14:56] aentwist opened #116 "Advanced axes, multi dataset, and histogram capabilities failure"
## Describe the bug

I need an advanced histogram. I have created this in Chart.js. When copying the exact same to Vue + vue-chart-3, it does not work. I have included two reproductions - no framework, and Vue + vue-chart-3.

# Remember, `vue-chart-3` is only an *adapter* to use `chart.js` with Vue easily. So any `chart.js` related issue or question will be dismissed

Yep, I have included two repr

[2022-03-31 15:08] victorgarciaesgi commented on #116
Hi @aentwist Thanks for the reproductions it's very helpful, I will try to find the time to look at it

[2022-03-31 15:43] aentwist commented on #116
Note also that since Chart.js fails to provide a histogram type, people bend things a bit to create histograms. This might not fall under intended use, in which case this issue could be closed. See https://github.com/chartjs/Chart.js/issues/3900.

[2022-04-06 11:56] NicoP-S commented on #80
@victorgarciaesgi i just tested the codepen and my own codebase and it's working now :)
Thank you!

[2022-04-06 11:56] #80 closed

[2022-04-13 13:30] benderl opened #119 "missing version information in vue-cli"
## Describe the bug
Running `vue ui` and changing to the "dependencies" page results in an error message regarding a "ERR_INVALID_ARG_TYPE" on the console I started vue:
[code]
There is also no number behind the "version" label of vue-chart-3 shown in the browser.
As this is the only missing information on the whole dependency list, I can only guess the error message is related to this package.

#

[2022-04-15 14:23] mlapeyre3 opened #120 "Broken chart when modifying the dataset in onMounted()"
## Describe the bug
Hello everyone, I am onboarding on a new Vue3 project and I will use Chart.js (and its vue-chart-3 equivalent). I wanted to created a simple area chart with a gradient filling. Following both Chart.js and vue-chart-3 documentation, I understood that I had to create a CanvasGradient object and assign it to the canvasRef. However, when doing so the chart becomes broken after the

[2022-04-15 14:38] mlapeyre3 commented on #120
I tried with a setup similar to the one described by @Martijn097 in https://github.com/victorgarciaesgi/vue-chart-3/issues/83

[code]

But the result is that my CanvasGradient value is not taken into account 🧐  (at least it is not broken)
![image](https://user-images.githubusercontent.com/19735493/163583614-77ca99b4-2e91-4a82-aa52-f5ac1ea04871.png)

[2022-04-16 23:55] DaniGTA commented on #114
Had the same error in nuxt for vue 2, adding chart.js and vue-chart-3 to transpile fixed this error. Maybe it can fix your error too if you have a way to transpile.

[2022-04-22 10:37] nosvalds opened #121 "LineChart X-axes data collapses to 0 on update of source data"
## Describe the bug
LineChart X-axes data collapses to 0 on update of data.

## To Reproduce

[codesandbox](https://codesandbox.io/s/vue-3-line-chart-reactive-issue-0gkjq3?file=/src/components/MetricChart.vue)

1. See chart render initially fine with 7 data points along X axis.
2. Change the select to 3 days, see chart re-render but lose the X axis data.

## Things Tried

Manual update as describe

[2022-04-25 09:25] thaycacac opened #122 "Cannot set background gradient"
## Describe the bug

I want to set background gradient but not work

This is expect:
<img width="776" alt="Screen Shot 2022-04-25 at 16 22 02" src="https://user-images.githubusercontent.com/29374426/165060778-b82ef519-b53a-4e79-a675-28ca6e2fb330.png">

And this my code

[code]

# Remember, `vue-chart-3` is only an *adapter* to use `chart.js` with Vue easily. So any `chart.js` related issue or ques

[2022-04-28 15:11] imarquezc opened #123 "Typescript errors appeared after installing vue-char-3"
## Describe the bug
Hello, thanks for this package. I wanted to report the following issue.

After installing `vue-char-3` I started getting this error in every `.vue` file with `i18n` translations.

`
Property '$t' does not exist on type '{ $: ComponentInternalInstance; $data: {}; $props: Partial<{}> & Omit<Readonly<ExtractPropTypes<{}>> & VNodeProps & AllowedComponentProps & ComponentCustomProps

[2022-05-09 10:20] nosvalds commented on #121
FYI this looks to be related to the use of the `parsing` option. Removing that and suppling the X-axes value through `labels` resolves the issue: https://codesandbox.io/s/vue-3-line-chart-reactive-issue-no-parsing-fboke6

[2022-05-16 13:09] justRau commented on #121
Can confirm this issue occurs on:
vue@3.2.33
vue-chart-3@3.1.8
chart.js@3.7.1

[2022-05-17 13:34] telisjok opened #125 "Click event handler?"
Related to [this](https://github.com/victorgarciaesgi/vue-chart-3/discussions/57#discussion-3701669) question, is there or will a click event handler be implemented?

[2022-05-20 11:47] bayramorhan opened #126 "vue-chart-3 blocks hmr update feature (vite)"
## Describe the bug
Whenever I install this plugin, my hmr is not working even if I see hmr update (x2) etc on the console. But if I remove it, then it works again.

## Version of `vue-chart-3`
3.1.8

## Version of Vue

- [ ] Vue 3

[2022-05-23 06:50] ajiyudhanto opened #127 "[vue-composition-api] must call Vue.use(VueCompositionAPI) before using any function"
Hi guys, apparently I have an issue regarding vue-chart-3.
I keep getting [vue-composition-api] must call Vue.use(VueCompositionAPI) before using any function error when I try to implement unit test for my project. Im using nuxtjs and use @nuxt/composition-api.

![Screenshot 2022-05-23 134847](https://user-images.githubusercontent.com/38274449/169760051-9ce82ac3-5a89-4a33-80d2-4f69f3e36b17.png)

[2022-05-30 07:08] Newri620 opened #128 "Can I use the option"

[2022-05-31 03:49] goper-leo commented on #125
I'm using the `options` props

[code]
[Chart.js](https://www.chartjs.org/docs/latest/configuration/legend.html)

[2022-06-07 12:54] thabarbados opened #129 "Move to vue-chartjs."
Hi folks!
I'm Slava, and I'm a collaborator of vue-chartjs.
As you can see [in the vue-chart-3 readme](https://github.com/victorgarciaesgi/vue-chart-3#im-joining-vue-chartjs-as-a-core-maintainer-so-this-package-will-be-kept-just-for-those-who-already-use-it-im-encouraging-new-users-to-use-vue-chartjs-instead), Victor has become part of the vue-chartjs team.
I made a simple [migration guide ](https

[2022-06-08 12:52] LeeLenaleee opened #130 "Deprecate package on NPM"
Mark the package as deprecated on NPM so new users are less likely to start using a deprecated package.

Also release 1 final build so that the readme is updated on npm so it shows to use vue-chartjs

https://docs.npmjs.com/deprecating-and-undeprecating-packages-or-package-versions
https://www.npmjs.com/package/vue-chart-3

[2022-06-20 12:06] hisuwh commented on #47
@victorgarciaesgi this might help - at least I can update for new features?

[2022-06-23 15:46] gregveres commented on #128
When working with a time series, you need to make sure you have a supported date library and adapter:
https://www.chartjs.org/docs/latest/axes/cartesian/time.html

This is a chartjs thing, not a vue-chart-3 thing.

[2022-07-04 10:42] thabarbados commented on #130
Hello @victorgarciaesgi, It would be fantastic if you could implement this issue.

[2022-07-19 21:00] ennioVisco commented on #129
Honestly, this project is still way better. I'll wait a few months that the other one improves :)

[2022-07-27 10:08] Store-Starter opened #131 "Accessing the ref"
## Describe the bug
*A clear and concise description of what the bug is.*

Hi guys,

I'm trying to access the ref using a setup as described in the docs:

[code]

The value of ref always returns undefined. Is there something I'm missing?

# Remember, `vue-chart-3` is only an *adapter* to use `chart.js` with Vue easily. So any `chart.js` related issue or question will be dismissed

## Version of `v

[2022-08-06 13:51] toniengelhardt commented on #127
Have the same issue

[2022-08-08 11:48] telisjok opened #132 "Cannot find module `chart.js/helpers` imported from `/node_modules`"
After updating NUXT to latest version, I tried to build the server and the following errors came up

[code]

The app's dependencies' are:

[code]

Is there a fix for this already that I'm missing out?

[2022-08-09 20:33] toniengelhardt commented on #129
Seems to be not working well yet with Nuxt Bridge...

[2022-08-14 08:50] toniengelhardt commented on #127
@ajiyudhanto did you find any workaround for this?

[2022-08-14 16:28] abdulmlik opened #133 "Vue2 and vue-chart-3 fail after 2.7 backport of composition API"
Version
- Vue version: 2.7.3

Description
vue-chart-3 uses the Composition API and in order to make Vue2 work, you need to use the @vue/composition-api dependency. I've been using vue-chart-3, Vue2 and the Composition plugin with no issues until today when I upgraded to the latest version of vue...which backports the composition API.

## Version of `vue-chart-3`
*ex: v2.1.3

## Version of Vue

- [

[2022-08-16 15:37] kstrckr commented on #133
+1 Seeing the same

[2022-08-18 10:09] hjeanmairePhealing opened #134 "MixedChart error"
## Describe the bug
*A clear and concise description of what the bug is.*

When i'am trying to follow your guide to do a mixedChart, i have problems to register the new component. This is the error i got:
`Error: "mixedBarLine" is not a registered controller` or `Error: class does not have id: MixedBarLine`
I don't know what really shoud I do.
I just follow the issue #59
Can u provide an example o

[2022-09-20 11:38] Kenvdb commented on #133
+1 same error on my side

[2022-09-20 12:53] victorgarciaesgi commented on #133
Sorry guys I do not maintain this anymore :( I advise you to use `vue-chartjs` instead.
If you are really blocked I could see If i can replace `@vue/composition-api` by `vue-demi` for Vue 2.7 to work

[2022-09-21 08:12] Kenvdb commented on #133
Ok, thanks for getting back. I'll investigate the migration to VueChartJs.

[2022-10-12 11:14] h3clikejava opened #136 "LineChart background gradient fail"
When loading the chart for the first time, it is normal, but after clicking the shuffle button, it will be abnormal.

[code]

[2022-10-17 07:14] rbartholomay commented on #131
same here

[2022-10-18 23:50] fran6brg commented on #114
I encountered this issue once again. Can't remember how I fixed it the first time.
However this (second) time it seems due to a mismatch between my tsconfig and the node version I was installing dependencies / building my app.

Anyway, I close this issue.

[2022-10-18 23:50] #114 closed